[2017-05-05 21:53] vdice opened #33 "add CI for helm.sh (current site)"
This repo is still lacking in CI/CD.  Setup should be very similar to what is currently in place for [deis.io](https://github.com/deis/deis.io); see pr/master build [job](https://github.com/deis/jenkins-jobs/blob/master/jobs/deis_io.groovy) and deployment [job](https://github.com/deis/jenkins-jobs/blob/master/jobs/deis_io_deploy.groovy).

One approach would be to copy, with slight modifications, t

[2017-05-08 18:54] vdice opened #35 "ci for docs.helm.sh"
We're currently planning on serving the helm docs as a subdomain on the existing `helm.sh` site, that is, at `docs.helm.sh`.

To do so, and hook up CI/CD to do the webpage build/deploy, we'll want to:
 * create a `docs` sub-directory, under which the following will be added:
   * a `rootfs` folder to hold built html/assets/web page
   * a `Dockerfile` which will bundle said assets into an image th

[2017-05-08 18:58] slack commented on #35
I think this covers it. Ronan's PR also informs Jekyll to ignore `docs/` so it isn't published along with helm.sh.

[2017-05-16 20:57] #33 closed

[2017-06-28 18:43] flynnduism opened #48 "[docs] resolve javascript syntax error"
Follow on from #47.

There's an error being thrown, most likely from the scrollspy script in `app_init_min.js` which checks the page url against the sidebar hrefs...

[code]

[2017-06-28 18:45] flynnduism opened #49 "[docs] make the home link relative to site baseurl"
Related to #47, suggestion from @vdice.

The side menu home link is currently set to `docs.helm.sh`, using a hard-coded link instead of a relative parameter from Hugo.

Currently, the `site.baseurl` param can't be used in `config.toml`, but there's likely another easy way to make this a relative link so it works better in local development and staging.

[2017-07-07 13:57] dlapiduz opened #51 ""Using Helm" docs section not built properly?"
Browsing to https://docs.helm.sh/using_helm/#quickstart-guide should render the quickstart guide but right now I only see the "Using Helm" subsection of the "Using Helm" section.

I wonder if this is a build issue because running hugo on the docs folder renders the section just fine.
![screen shot 2017-07-07 at 8 53 15 am](https://user-images.githubusercontent.com/4604/27960799-328541be-62f2-11e7-

[2017-07-07 16:29] flynnduism commented on #51
Yep, looks an issue with the build sequence - part of the build never ran. Thanks for flagging this issue.

I've a fix on the way asap.

[2017-07-07 19:42] flynnduism commented on #51
Fixed and deployed.

That content is accessible again at: [https://docs.helm.sh/using_helm/#quickstart-guide](https://docs.helm.sh/using_helm/#quickstart-guide)

[2017-07-07 19:42] #51 closed

[2017-07-07 22:44] #48 closed

[2017-07-12 00:00] seh opened #54 "Helm documentation hyperlinks are dangling"
From the Helm project's [root _README.md_ file](https://github.com/kubernetes/helm/blob/master/README.md), follow [the link to the Quick Start guide](https://docs.helm.sh/using_helm/#quickstart-guide). We arrive at the intended anchor on the intended page, but from there **several of the hyperlinks in the left sidebar (revealed via the blue-striped "hamburger menu") don't work**.

It looks like th

[2017-07-12 16:46] flynnduism commented on #54
Thanks for catching and documenting this issue. 🙌

It looks like the _mobile menu_ is indeed busted as described - the link paths in the _hamburger menu_ need updating, it's fallen out of sync with the desktop version.

[2017-07-13 17:18] #49 closed

[2017-07-13 17:18] #54 closed

[2017-07-13 18:38] flynnduism commented on #54
Fix the mobile menu is deploying now to [docs.helm.sh](https://docs.helm.sh/)

[2017-07-13 18:40] seh commented on #54
Thank you. It works nicely now, and still looks beautiful.

[2017-07-31 22:46] flynnduism opened #56 "Add search to the docs"
See issue [#2698](https://github.com/kubernetes/helm/issues/2698).

[2017-10-09 22:26] flynnduism opened #58 "Add Cookie privacy notice for CELA compliance"
Having submitted this site and details on the embedded 3rd cookies to [the cookie portal](aka.ms/cookieportal), this site will need a Cookie disclaimer message to comply with EU regulations.

* Sharepoint: [Cookie Compliance Steps](https://microsoft.sharepoint.com/:x:/r/teams/Azure_Compliance/Cookies/_layouts/15/WopiFrame.aspx?sourcedoc=%7BCCF4626F-5CE6-49E5-B4EA-9FA8435A324E%7D&file=Cookie%20Comp

[2017-10-10 22:55] #58 closed

[2017-10-31 14:13] mattfarina opened #60 "Doc link issues"
In the docs under the helm ["see also" section the links are to anchors with an `_` in them](https://docs.helm.sh/helm/#see-also). The actual anchors use a `-` (dash) instead ([see example](https://docs.helm.sh/helm/#helm-rollback)). So, the links don't work.

[2017-11-03 18:30] bacongobbler commented on #60
I think this is actually a bug in the manpages as noted in https://github.com/kubernetes/helm/issues/2840. We should be able to fix it upstream, which then docs.helm.sh should get that fix :)

[2017-11-03 19:11] mattfarina opened #64 "Link to 404"
In the section [TILLER, NAMESPACES AND RBAC](https://docs.helm.sh/using_helm/#tiller-namespaces-and-rbac) there's a bug.

It says,

here is a link to https://docs.helm.sh/using_helm/service_accounts but should be a link to https://docs.helm.sh/service_accounts since it's another document at the same level as https://docs.helm.sh/using_helm.

I'm filing the bug here because the markdown in the helm

[2017-11-03 19:27] bacongobbler commented on #60
This turns out to be a bug with spf13/cobra hardcoding the docs generation links as underscores. I'll see if I can fix that.

[2017-11-22 21:53] bacongobbler opened #69 "migrate off ci.deis.io"
There are plans to shut this down in March, so we should migrate the CI system off to CircleCI or some other CI system.

[2017-12-12 18:02] scottrigby opened #1258 "Document charts best practices (from initiative in helm/charts)"
## Current status

The goal of me moving this issue is to be able to archive the helm/charts repo and make sure that the work started/pinned here makes its way into helm.sh/docs.

Some of this has already made it's way into the docs, but there are other valuable things collaborated on here which have not yet. It's been in the back of my mind for a while but I just haven't spent the time to move it

[2018-04-12 06:40] thochra opened #81 "Scrolling the docs is not a pleasant stroll"
Hello,

I have been using the docs website for only few hours and there is something that is going to make me crazy => scrolling the docs is a nightmare !!!

I don't know why but:
 - after a while or when reaching a specific page's position scroll is blocked and then after some mouse wheel rotations it works again. That behaviour is just ugly. I feel like someone tied up my two shoes' shoelaces to

[2018-04-13 16:59] flynnduism commented on #81
Thanks @thochra for the flagging. Scroll-jacking is definetly not the intent here.

The docs site uses a [scroll-to-anchor script](https://github.com/helm/helm-www/blob/master/docs.helm.sh/themes/helmdocs/static/src/js/custom/app_init.js#L61L74) that could be causing lag, I can easily remove that to ensure cleaner scrolling.

Checking the up and down arrows on Firefox OSX, I see the same issue the

[2018-04-20 18:21] scottrigby opened #1259 "Document solution to problem of random passwords change on upgrade (from helm/charts)"
I was replying in helm/charts#3591 and realized this is a much bigger problem that deserves a charts issue to decide whether we should agree on and document a policy for this across charts.

Can we address this at one of the next charts meetings?

Related:
- https://github.com/kubernetes/charts/pull/3591
- https://github.com/kubernetes/charts/issues/4258
- https://github.com/kubernetes/helm/pull/2

[2018-04-23 13:46] flynnduism opened #82 "Content-Type issues on root"
Following on from [#3940](https://github.com/kubernetes/helm/issues/3940), there's an issue with styles not rendering on the domain root `https://helm.sh`. They work fine via `www.helm.sh` oddly.

---

# *helm.sh -> www.helm.sh

I'd tried forwarding everything via `www` to circumvent this issue, but that routing isn't working. I've rolled back the DNS as a result.

---

# Content-Type

@technosoph

[2018-04-23 13:59] bacongobbler commented on #82
az storage upload-batch auto-detects the MIME type when uploading, but perhaps it treated CSS files differently. I can take a look into this

[2018-04-24 09:25] #82 closed

[2018-04-25 15:34] brendanstennett commented on #81
+1 on this.  It's a very janky scroll experience.  A fixed header would be better than this is.

[2018-04-25 15:35] brendanstennett opened #85 "Helm.sh website using large amounts of CPU"
Not related to helm specifically but visiting the website causing my CPU to spike and stay there until closing it. It's not just the home page either, other pages seem to have the same problem.

@bacongobbler suggested in https://github.com/kubernetes/helm/issues/3959 that it might be the animations.  I think he might be correct on that one.

It should be considered a high priority issue though be

[2018-04-25 15:38] #35 closed

[2018-04-25 23:26] bacongobbler opened #86 "CORS issue on helm.sh"
Reported in Slack:

[code]

[2018-04-26 16:01] bacongobbler commented on #86
Here's all the reported errors I found on https://helm.sh this morning. The end result is that certain fonts and emojis are missing from helm.sh that are present at www.helm.sh as seen in the screenshots below:

[code]

![helm.sh](https://screenshotscdn.firefoxusercontent.com/images/27081544-cfd9-4e5b-8a70-44d7d74a9910.png)
![www.helm.sh](https://screenshotscdn.firefoxusercontent.com/images/7ac376

[2018-04-30 15:59] flynnduism commented on #86
I've rolled out config that adds CORS headers on the CDN - so webfonts should now be loading without any of the above errors on [https://helm.sh](https://helm.sh)

[2018-04-30 15:59] #86 closed

[2018-05-31 19:49] flynnduism opened #91 "bug(docs): site content layout is broken"
@slack flagged an issue with the docs site not rendering properly, looks like the build task didn't fully run and the page is a mess. Half of the `Using Helm` subsections render correctly, but then the content column ends prematurely.

![docs-broken](https://user-images.githubusercontent.com/686194/40804733-09588be8-64d1-11e8-8113-0f99b465c224.png)

The second half of the page content is injected

[2018-05-31 19:52] flynnduism opened #92 "docs(bug): rbac url in quickstart 404s"
The docs site renders the RBAC section as `https://docs.helm.sh/using_helm/#role-based-access-control`, but there is url in the Quick Start Guide that points to `/rbac`.

![rbac-404](https://user-images.githubusercontent.com/686194/40804919-8534d8ac-64d1-11e8-8745-51b8822acb82.png)

This works fine when browsing the docs on github.com/kubernetes/helm, but doesn't work on the Hugo rendered version

[2018-05-31 21:26] #91 closed

[2018-06-01 16:49] rimusz opened #96 "feat(architecture): add architecture diagram to docs"
What about updating the front page as per:

![helm_sh](https://user-images.githubusercontent.com/5215395/40852910-03439bdc-65c4-11e8-9a48-24fdb8b9babf.png)

it would look better :)
cc @flynnduism

[2018-06-01 17:37] bacongobbler opened #97 "fix CDN url redirection rules"
As of right now, https://www.helm.sh/blog/ does not redirect to https://www.helm.sh/blog/index.html. We originally did not require this because helm.sh was a single-page site. Now with the blog up, we should probably add some CDN rewrite rules so that we can tweet out cleaner URL links.

[2018-06-01 17:41] mattfarina commented on #96
That image might be good in a section on how Helm works. Someone should re-create it with better coloring and just better.

[2018-06-01 17:42] rimusz commented on #96
or there too

[2018-06-01 17:48] flynnduism commented on #96
Good call - I'd be happy to adjust the diagram styles and work it into the page.
It could replace this image, which is vague decoration really in comparison:

![https://www.helm.sh/assets/images/chart-illustration.png](https://www.helm.sh/assets/images/chart-illustration.png)

Currently waiting to see what website changes will be required by the CNCF, so holding off on this until that becomes clea

[2018-06-01 17:49] rimusz commented on #96
Yes!!!

[2018-06-04 17:08] flynnduism opened #99 "docs(bug): fix CDN caching issues"
Seeing problematic caching on the docs site, an incomplete build was deployed.
See the layout [here](https://docs.helm.sh/using_helm/#role-based-access-control).

![40804733-09588be8-64d1-11e8-8113-0f99b465c224](https://user-images.githubusercontent.com/686194/40931024-52d84e9c-67de-11e8-8fba-ccb78db308d9.png)

---

I've tried correcting this and pushing new builds / clearing the cache

* rebuildi

[2018-06-04 17:44] bacongobbler commented on #99
Hmm I see it fine from my browser even when squishing the screen horizontally. How can I reproduce this bug?

<img width="829" alt="capture" src="https://user-images.githubusercontent.com/1360539/40932725-271c8a60-67e4-11e8-92ac-722b7db58655.PNG">

[2018-06-04 17:56] bacongobbler commented on #99
tested on a burner laptop on edge, firefox, opera and chrome. All seem to work for me so I'm unable to reproduce the bug from my region (Canada).

[2018-06-05 15:20] flynnduism commented on #99
Support ticket under way, #118060518322656

[2018-06-07 01:53] jaygorrell commented on #99
https://github.com/kubernetes/helm/issues/4155 may be a duplicate.

Also, I can reproduce this if there's anything I can help provide.

[2018-06-07 17:53] flynnduism commented on #99
Thanks @jaygorrell

The issue arose from an incomplete build, a fix was deployed on June 1st; but we've been dealing with caching issues on the site CDN which hasn't been purging and refreshing as expected.

I can no longer reproduce the issue, I'm finally seeing the correct layout rolled out across devices (also testing via VPNs). This should finally be resolved - can you re-test the site today?

[2018-06-07 18:43] jaygorrell commented on #99
Yep, fixed here as well (after a hard refresh)!

[2018-06-07 19:06] #99 closed

[2018-06-12 22:48] quantum-fusion opened #101 "helm on MacOS with minikube will not connect"
The problem is that I am running minikube on MacOS, and want to expose the ip address and port for running this example helm chart. https://docs.bitnami.com/kubernetes/how-to/create-your-first-helm-chart/

I tried to ping the localhost:58064, but it wouldn't connect.

helm install --dry-run --debug ./mychart --set service.internalPort=8080
[debug] Created tunnel using local port: '58064'

[debug]

[2018-06-12 22:49] quantum-fusion commented on #101
@bacongobbler Do you know why the helm example will not connect using curl ? This is without using the draft tool at all, and this is the basic example provided by helm.

[2018-06-12 22:50] quantum-fusion commented on #101
Also entered on stackoverflow:
https://stackoverflow.com/questions/50826457/helm-chart-will-not-expose-ip-address-to-ping-localhostport

[2018-06-12 22:52] quantum-fusion commented on #101
@squillace I thought you might want to see the helm example wouldn't connect, and wanted to know if you knew the solution using minikube?

[2018-06-12 22:53] quantum-fusion commented on #101
#804
https://github.com/Azure/draft/issues/804

[2018-06-13 16:01] flynnduism commented on #101
@quantum-fusion I've copied this issue info over to [kubernetes/helm](https://github.com/kubernetes/helm/issues/4212) so that it gets seen by the right people.

[2018-06-13 16:28] bacongobbler commented on #101
closing in favour of https://github.com/kubernetes/helm/issues/4212. Thanks @flynnduism!

[2018-06-13 16:28] #101 closed

[2018-06-13 20:08] flynnduism opened #103 "[docs] brigade.js not writing to blob storage"
The changes I made in #102 aren't resolving the deployment issues to blob storage. Brigly completes the site build, but the files on the storage + CDN aren't changing.

---

You can see the logs of the [brigly builds here](https://example-api.technosophos.me/v1/project/brigade-9afa37b976ab4bd116557b613000959d24feb08dfac37fcf6ae3cb/builds) - here's an an [example](https://example-api.technosophos.m

[2018-06-13 20:15] technosophos commented on #103
Here is the complete set of logs, based on `brig build logs -j`

[code]

[2018-06-13 20:18] technosophos commented on #103
I believe this is the actual cause of the failure:

[code]

It seems to exit prematurely after that.

[2018-07-02 23:31] flynnduism commented on #103
Closing this - builds are now succeeded via the [Brigly bot](https://github.com/deis/brigly-actions) + `brigade.js`

[2018-07-02 23:31] #103 closed

[2018-07-13 18:56] mattfarina opened #111 "Add CI/CD"
It would be useful to have CI on every pull request and CD (deployment) when new things land on master. This would enable a better review experience and allow for things to be deployed outside the the Helm team at Microsoft (where this is currently handled).

The CNCF has support for https://www.netlify.com/ which is what k8s uses. It may be an option to investigate.

Side note, breaking the docs

[2018-07-16 15:58] mattfarina opened #112 "Update website to follow CNCF guidelines"
See https://www.cncf.io/projects/website-guidelines/ for more detail

[2018-07-16 16:07] bacongobbler commented on #112
From looking at the points, it appears this may be the only change necessary to be compliant with those guidelines:

Are there other guidelines you see on there that needs addressing?

[2018-07-18 06:36] lukejpreston commented on #81
This is still an open issue even though there has been a merge request. Scroll sounds like it is better but still annoying. You wanna perhaps change this line

https://github.com/helm/helm-www/blob/26746b44db347408028474e89a675ee9c107a5b4/docs.helm.sh/themes/helmdocs/static/src/sass/docs-layout.scss#L34

You should just remove it and the website will be fine. I checked it on both mobile and deskto

[2018-07-19 22:39] idvoretskyi commented on #112
@bacongobbler yes, that should be enough.

[2018-07-23 22:17] #112 closed

[2018-07-23 23:27] idvoretskyi opened #120 "Helm is an incubating project of CNCF (not inception)"
https://github.com/helm/helm-www/pull/118 mentions Helm as CNCF inception project, which is an incorrect statement ("inception" is the old name of "sandbox").

The correct statement is "We are a Cloud Native Computing Foundation incubating project."

[2018-07-23 23:35] flynnduism commented on #120
Thanks @idvoretskyi - I pasted incorrect text into the PR, what the site now says is:

I can add text to specify "incubating" if required.

[2018-07-23 23:37] dankohn commented on #120
We’d prefer incubating but either is fine.

[2018-07-24 11:33] rimusz opened #124 "Blog background/text isn't really readable"
Can we use the same styling for the blog as per rest of the site, as that dark blue background with the the white text is not nice for the eyes.

the current blog:
<img width="964" alt="screenshot 2018-07-24 12 29 24" src="https://user-images.githubusercontent.com/5215395/43135547-aa97cff0-8f3d-11e8-9796-80082906bbb4.png">
vs the rest of the site:
<img width="914" alt="screenshot 2018-07-24 12 20

[2018-07-24 16:03] #81 closed

[2018-07-24 18:58] dendle opened #126 "Cant scroll docs site anymore!"
Hello All!

Erm - I cant seem to scroll down on the helm docs anymore!

REPRO - go the below link and try to scroll down....

https://docs.helm.sh/developing_charts/#charts

Chrome, Edge, Internet Explorer - cannot scroll with wheel, arrow keys, pg-down, nothing.

Anyone else getting this? Reset browser to clean state and ctrl+f5 - still no ability to scroll.

I would raise a PR but I have no idea

[2018-07-24 19:11] bacongobbler commented on #126
Hey @dendle! We can definitely reproduce this issue. I've re-built the docs to see if a refresh will fix things.

For the time being, feel free to view the documentation here: https://github.com/helm/helm/tree/master/docs

Thanks!

[2018-07-24 19:11] bacongobbler commented on #126
recent PR relevant to fixing scroll issues: https://github.com/helm/helm-www/pull/122

[2018-07-24 19:11] hacktastic commented on #126
Possibly related to this PR? https://github.com/helm/helm-www/pull/122

[2018-07-24 19:35] flynnduism commented on #126
Conflict following #121 and #122 - here's a fix PR: #127

[2018-07-24 22:19] simonft opened #128 "Links under the "Using Helm" section are broken"
I'm seeing the same behavior described in #51. Clicking any of the links under "Using Helm" (like https://docs.helm.sh/using_helm/#quickstart-guide ) results in the browser loading a page with the header "Using Helm" but none of the expected information.

[2018-07-24 22:22] simonft commented on #128
This started working a couple minutes after submitting. Apologies for the noise.

[2018-07-24 22:22] #128 closed

[2018-07-25 02:19] flynnduism commented on #128
No problem @simonft, appreciate the flag regardless.

[2018-07-25 22:21] flynnduism commented on #120
Closed via #121

[2018-07-25 22:21] #120 closed

[2018-07-28 13:54] dendle commented on #126
wow! this is fast moving stuff! i just checked back here and you guys have fixed it!
Go OSS!

👍

[2018-08-02 15:10] bacongobbler opened #130 "sidebar navigation does not scroll"
This is especially a concern when you expand the "Helm Commands" nav button as it consumes the majority of the nav bar. Scrolling down on the main docs page does not help.

[2018-08-02 15:15] robertomlsoares opened #131 "Broken link on plugins guide"
There is a broken link here: https://docs.helm.sh/using_helm/#the-helm-plugins-guide

'Existing plugins can be found on [related](https://docs.helm.sh/using_helm/related.md#helm-plugins) section or by searching Github'

Related is linking to https://docs.helm.sh/using_helm/related.md#helm-plugins

[2018-08-02 15:19] flynnduism commented on #131
Thanks Robert. Link should be [https://docs.helm.sh/related/#helm-plugins](https://docs.helm.sh/related/#helm-plugins). Will update.

[2018-08-02 16:37] flynnduism commented on #130
Working on this issue currently.

[2018-08-03 16:23] bacongobbler commented on #130
closed via #4428. Changes are still rolling out but should be available at some time in the future.

[2018-08-03 16:23] #130 closed

[2018-08-03 16:47] flynnduism commented on #130
Changes are live on [docs.helm.sh](https://docs.helm.sh)

[2018-08-03 23:40] technosophos opened #133 ""see also" links are incorrect."
This bug was filed in the main Helm repo:
https://github.com/helm/helm/issues/4421

[2018-08-04 00:30] technosophos commented on #133
Also: https://github.com/helm/helm/issues/4245

[2018-08-23 19:58] mattfarina opened #135 "Bot to check blog posts have a /blog/ in url"
Some of the blog posts are off the root of the helm.sh site. Others are under blog. We need to be consistent and likely need a check to make sure we have it that way.

I propose we add a check that enforces a blog post have a prefix of `/blog/`.

[2018-09-10 14:40] bacongobbler opened #139 "can't scroll with keyboard in firefox"
original ticket: https://github.com/helm/helm/issues/4607

On docs.helm.sh using firefox, I can only scroll using my mouse's scroll wheel. Arrow keys, page up/down are both broken.

[2018-09-18 16:38] scottrigby opened #1260 "Add guidance/guidelines for distributed charts hub"
## Current status

The goal of me moving this issue is to be able to archive the helm/charts repo and make sure that the work started/pinned here makes its way into helm.sh/docs.

## Original issue

Now that we're moving charts to distributed Helm repos to be listed on the Hub, people need some guidance

[2018-10-14 17:58] bacongobbler opened #143 "Docs page html has no title"
From @timthelion:

![image](https://user-images.githubusercontent.com/1360539/46920233-02977f00-cfa0-11e8-817b-1cd54535f32c.png)

[2018-10-16 05:45] flynnduism opened #146 "[helm.sh] blog archive is broken"
Flagged by @squillace - this url is broken, https://www.helm.sh/blog/page2/
looks like a CDN routing issue

[2018-10-16 20:10] #143 closed

[2018-11-15 20:59] flynnduism commented on #146
Closing, resolved via #152

[2018-11-15 20:59] #146 closed

[2018-11-15 21:02] flynnduism opened #153 "[helm.sh] blog needs additional styling"
Code blocks need some ❤️ on the blog. `code` and `pre` tags need styles to add padding, adjust sizing, shading etc.

Screenshots:

<img width="854" alt="screen shot 2018-11-15 at 1 00 14 pm" src="https://user-images.githubusercontent.com/686194/48581440-ac876580-e8d6-11e8-93ee-f4b3bfa1c110.png">

<img width="1024" alt="screen shot 2018-11-15 at 1 00 25 pm" src="https://user-images.githubuserconten

[2018-11-16 01:02] flynnduism opened #154 "[helm.sh] CICD deploys are failing"
Recent merges to master are not being successfully pushed to prod (blob storage).

<img width="542" alt="screen shot 2018-11-15 at 4 52 28 pm" src="https://user-images.githubusercontent.com/686194/48591057-ea948180-e8f6-11e8-9268-13d7f86f1aca.png">

---

@vdice are you familiar with the Brigade pipeline here? I'm [checking for logs](https://azure.github.io/kashti/) but seeing [a separate issue](ht

[2018-11-16 18:26] vdice opened #156 "ref(CI): enable building docs for PRs"
Enabled building docs for PR events.

Will require refactoring the `brigade.js`

[2018-11-16 18:48] flynnduism commented on #154
Fixed by #155

[2018-11-16 18:48] #154 closed

[2018-11-19 16:50] drewandersen opened #157 "broken link in documentation"
Link: https://docs.helm.sh/using_helm/rbac

Referenced from: https://docs.helm.sh/using_helm/#special-note-for-rbac-users

![image](https://user-images.githubusercontent.com/2484277/48722069-1a0afd00-ec1b-11e8-8aa9-e6dacdb2113e.png)

[2018-11-21 00:15] bridgetkromhout commented on #157
Any links whose rewrites are happening in https://github.com/helm/helm-www/blob/master/docs.helm.sh/gulpfile.js#L245-L271 are going to have a problem starting from https://docs.helm.sh/using_helm without a trailing slash, because:

-  instead of being rewritten correctly - like the link from `To apply configurations that secure Helm for use in production environments and other multi-tenant scenari

[2018-11-30 17:23] a-robinson opened #161 "Broken links in docs"
At least two of the links in the docs that are meant to take you to the RBAC portions of the docs are broken on the live docs site. In particular:

1. The link to "Tiller and Role-Based Access Control" from this section https://docs.helm.sh/using_helm/#special-note-for-rbac-users
2. The link to "RBAC enabled clusters" from https://docs.helm.sh/using_helm/#easy-in-cluster-installation

I'd fix the

[2018-12-10 20:22] farrellit commented on #157
Is that also why some of the in-text links here don't work too?  Screenshot didn'tcapture the mouse but I'm hovering over the underscored "helm repo" link.    In the nav bar the underscores are `-` instead and that works (second image).

![image](https://user-images.githubusercontent.com/6018542/49759254-c40fff00-fc86-11e8-8499-8096c67fa78d.png)

![image](https://user-images.githubusercontent.com/

[2018-12-18 17:30] sciurus commented on #139
I've reproduced this problem on Firefox Nightly and Firefox Beta.

It also affect scrolling via pressing the spacebar.

Scrolling via the keyboard works on Chrome and Safari.

[2018-12-29 13:20] tjimsk commented on #139
Reporting scrolling problem with Safari 12.0.2 on laptop trackpad.

The scroll event is sent to another element (likely the parent) first.  So in order to scroll up in the content view, its parent view must first be scrolled to its top, likewise in order to scroll down.

[2019-01-08 19:36] #60 closed

[2019-01-08 19:36] #64 closed

[2019-01-08 19:43] bacongobbler commented on #92
closed via #168

[2019-01-08 19:43] #92 closed

[2019-01-08 19:43] bacongobbler commented on #131
closed via #168

[2019-01-08 19:43] #131 closed

[2019-01-08 19:43] bacongobbler commented on #157
closed via #168

[2019-01-08 19:43] #157 closed

[2019-01-08 19:43] bacongobbler commented on #161
closed via #168

[2019-01-08 19:43] #161 closed

[2019-01-08 19:44] bacongobbler commented on #133
closed via #168

[2019-01-08 19:44] #133 closed

[2019-02-22 16:34] enrmarc opened #181 "Doc links are broken"
Example: https://helm.sh/docs/helm/helm_upgrade/

[2019-02-24 09:38] bweston92 commented on #181
Here are a few broken links too I cannot see where to update. https://helm.sh/docs/helm/#see-also

[2019-02-25 14:15] enrmarc commented on #181
@bacongobbler
- Via Google search (keywords `helm upgrade`). It's the second entry
- In https://helm.sh/docs/helm/#see-also

[2019-02-25 17:44] flynnduism commented on #181
Thanks for clarifying @bweston92 and @enrmarc - working on a fix for this now.

Indeed the _see also_ links for each of the Helm Commands require the addition of a `/docs` prefix.

[2019-02-25 18:10] #181 closed

[2019-02-25 18:16] flynnduism commented on #181
Fix for this has shipped, links in that section corrected: [https://helm.sh/docs/helm/#helm](https://helm.sh/docs/helm/#helm)

[2019-02-26 20:19] bridgetkromhout commented on #153
I believe this and #124 may have been resolved in https://github.com/helm/helm-www/pull/162 (looking at https://helm.sh/blog/2018-09-25-chart-testing-intro/ for example).

[2019-02-26 20:27] bridgetkromhout commented on #135
Looking at https://helm.sh/blog/ now, it doesn't appear this is still the case for existing posts. Do we think further action needs to be taken? Thanks.

[2019-02-26 21:01] bacongobbler commented on #139
It looks like this has been resolved. Closing!

[2019-02-26 21:03] bacongobbler commented on #124
cross-posting from https://github.com/helm/helm-www/issues/153#issuecomment-467597423:

Let's close this in favour of #153 to keep the discussion going in one ticket. Thanks!

[2019-02-26 21:03] #124 closed

[2019-02-26 21:43] sciurus commented on #139
bacongobbler what makes you say this is resolved? I'm still experiencing the problem on both Firefox Beta and Nightly. For example, if I load https://helm.sh/docs/using_helm/#quickstart and press spacebar or the down arrow nothing happens.

[2019-02-26 21:55] bacongobbler commented on #139
Okay, so you can't scroll the main body when you click links from the sidebar, but when you click links in the main body, scrolling works fine. For example, scrolling works when you click on the "quickstart guide" link from https://helm.sh/docs/. @tjimsk's assumption about the scroll event being sent to another element seems accurate.

FYI I clicked that link @sciurus and scrolling worked for me w

[2019-02-28 00:39] flynnduism commented on #153
Yeah now the styles have been updated for better code formatting, I'm going to mark this closed

[2019-02-28 00:39] #153 closed

[2019-02-28 02:31] bridgetkromhout commented on #56
Options that exist now that we're using Hugo: https://gohugo.io/tools/search/

[2019-02-28 09:52] thomasLeclaire opened #185 "Helm website documentation not up to date"
On the main doc webpage https://helm.sh/docs/using_helm, it sounds like at least the first links are broken :
https://helm.sh/docs/using_helm/#installing-helm
https://helm.sh/docs/using_helm/#quickstart

doc sounds to be correct on github side : https://github.com/helm/helm/blob/master/docs/using_helm.md

initially wrongly opened here for info : https://github.com/helm/helm/issues/5376

[2019-02-28 14:38] flynnduism commented on #185
Reviewing the docs, is seems that the Using Helm section hasn't properly generated. Clearing cache and rebuilding the site has restored the proper content:

https://helm.sh/docs/using_helm/#quickstart
https://helm.sh/docs/using_helm/#installing-helm

Thanks for flagging this - it's resolved for now. I'll investigate why this occurred.

[2019-02-28 14:58] #185 closed

[2019-03-11 17:00] bacongobbler commented on #135
looks like this can be closed. Thanks for the fixes @bridgetkromhout :)

[2019-03-11 17:00] #135 closed

[2019-03-11 18:00] bacongobbler commented on #156
Now that we've migrated to netlify, docs are built and can be previewed as part of the PR process.

[2019-03-11 18:00] #156 closed

[2019-03-13 02:18] levlaz opened #187 "Add rss or atom feed"
I wasn't able to find a feed for the helm blog, I'd love to keep up with posts. Am I missing something or does this not exist yet?

[2019-03-13 04:04] flynnduism commented on #187
There is a blog feed available at [https://helm.sh/blog/index.xml](https://helm.sh/blog/index.xml) - but you raise a good point it's not accessible. I think the blog layouts need the addition of a feed link someplace.

I'll add this.

[2019-03-13 04:07] levlaz commented on #187
Thank you very much for the link! It’s good enough for me, but making this more discoverable would be great for the 7 of us who still use a feed reader. :)

[2019-03-14 15:48] flynnduism opened #188 "mobile layout has overlapping content"
On mobile, the logo and main menu are overlapping, resulting in a messy visual and making it hard to click/tap the menu links.

![IMG_5049](https://user-images.githubusercontent.com/686194/54370938-c55e1880-4635-11e9-92cc-02660df035ae.PNG)

Thanks @bridgetkromhout for flagging this!

[2019-03-14 15:58] bridgetkromhout commented on #85
Is it possible for the boat to (by default) make a trip or two across the page and then pause? Perhaps to be reactivated by a click? (I like watching the boat, but of course I understand we shouldn't over-use people's local resources.)

[2019-03-14 16:05] bridgetkromhout commented on #96
Accurate architectural diagrams are definitely valuable. At this point, given the differences between Helm 2 and Helm 3, we probably want them to be elsewhere than the front page (to prevent confusion). Talking with @flynnduism, he suggested https://helm.sh/docs/architecture/ as a possible location.

[2019-03-14 17:52] flynnduism commented on #85
@bridgetkromhout we could add some js to stop/pause the animation like you say. Currently there's no JS in play, it's using CSS for keyframe animations.

**CSS is ~~awesome~~**
Depending on complexity, CSS animation can be pretty [resource heavy](https://www.youtube.com/watch?v=1ZWugkJV5Ks); in this situation it's largely down to how the animation is written with [lots of incremental steps](https:

[2019-03-15 17:02] elsmorian opened #190 "Some Helm TOC links broken"
Just going through the Table of Contents links here https://helm.sh/docs/chart_best_practices/ the anchors for some links are broken from that TOC - clicking them doesn't take you to the correct section of the page. Looking at the docs in GitHub, it looks like the ones are broken are where the markdown filenames do not match the link text, and I guess whatever is building the HTML docs from the Ma

[2019-03-15 17:03] elsmorian commented on #190
(I looked at submitting a PR, but not 100% what the issue is and couldn't quite work out how the docs are built, sorry!)

[2019-03-15 17:41] flynnduism commented on #190
Thanks @elsmorian, taking a look into this now

[2019-03-15 19:27] #190 closed

[2019-03-15 19:35] flynnduism commented on #190
@elsmorian the changes are live onsite now. Thanks for flagging this!

https://helm.sh/docs/chart_best_practices/#the-chart-best-practices-guide

[2019-03-18 21:22] s-pace opened #192 "High vulnerability introduces by gulp-track-filenames dependency"
👋 Team,

From `npm audit`:
[code]
 See [here for more details](https://npmjs.com/advisories/118)

[2019-03-18 22:43] #192 closed

[2019-03-29 17:23] #56 closed

[2019-03-29 20:30] flynnduism commented on #188
Fixed via #189

[2019-03-29 20:30] #188 closed

[2019-03-29 20:31] flynnduism commented on #85
Closing this following #189

[2019-03-29 20:31] #85 closed

[2019-04-08 18:26] flynnduism opened #198 "[docs] restructure to support versioning"
Since Helm 2, the docs site has just shown the latest state of the project docs. Ideally we should restructure things with Helm 3 on the horizon:

* render different versions of the site so there is a clear url structure
  e.g. `helm.sh/2.13.1/` and `helm.sh/3.1`
* clearly indicate what version of docs you're viewing
* i'll create issues for related tasks with the **v3** label
  * highlight the He

[2019-04-16 19:02] mattfarina commented on #198
How will we handle multi-lingual alongside that? See https://github.com/helm/helm/issues/4103. I'd hoped to get some folks to get this going.

There was also talk of moving to gitbook (recorded at https://github.com/helm/helm/issues/4100). The idea was to use a doc tool that also has some niceties like search.

[2019-04-16 21:31] flynnduism commented on #198
It's certainly technically possible. Hugo has a [Multilingual mode](https://gohugo.io/content-management/multilingual/), which in part just means creating additional versions of the site in it's directory structure - which is very similar to methods of versioning we're looking at.

[code]

Doing so at a base level would localized versions of Helm's landing page content as well as docs. The trickie

[2019-04-16 22:45] bacongobbler commented on #198
I started taking a look at localization, but I pulled it out of #199 to prevent scope creep. It seems quite trivial to add localization support though thanks to Hugo.

[2019-04-18 17:11] jdolitsky opened #310 "Helm 3: Document RBAC setup"
With the new storage driver defaults coming in Helm 3 (secrets), we will be able to define new roles regarding who can create/modify/delete these resources. This should be documented, including a tutorial of how to migrate from using RBAC in Helm 2.

[2019-04-30 05:51] rubenv commented on #187
Please just add a link to the RSS feed, if not just a meta tag:

[code]

It's such a shame that I have to come to Github Issues to find the feed.

[2019-04-30 23:04] #187 closed

[2019-04-30 23:29] flynnduism commented on #187
Site updated with accessible RSS feed links on the blog. This issue is marked closed.

Thanks for your feedback - this helps improve the project!

[2019-05-01 05:25] rubenv commented on #187
Thanks! Sadly, in this day and age, RSS needs all the help it can get.

On Wed, May 1, 2019, 01:29 Ronan Flynn-Curran <notifications@github.com>
wrote:

[2019-05-14 15:56] felixhummel commented on #139
This is a general problem.

Steps to reproduce:

- go to https://helm.sh/docs/using_helm/#role-based-access-control
- press Arrow keys or PageUp/PageDown

Expected: scrolls

Actual: nothing happens

[2019-06-02 04:35] lolocohen commented on #126
Not sure if this is still the right place to note it, the behavior I'm currently observing I that I can scroll the doc content with the keyboard only if I click in the right-side banner first. This is the 'B' panel in this layout mockup:

[code]

[2019-06-03 16:01] flynnduism commented on #126
Thanks for the detailed info @lolocohen

I'll take a look at this today, likely a css layout issue.

[2019-06-21 15:26] mattfarina opened #227 "Document the owners?"
We should document the owners of this repository somewhere. To keep it in line with the others and the process outlined in the governance.

[2019-07-03 12:47] qrilka opened #229 "Incorrect link on the website"
https://helm.sh/docs/using_helm/#creating-your-own-charts has a link to  https://helm.sh/docs/using_helm/#charts for "Chart Development Guide" while looking at the sources in https://github.com/helm/helm/blob/master/docs/using_helm.md#creating-your-own-charts it looks that the link should point to https://helm.sh/docs/developing_charts/#charts

[2019-07-03 14:40] bacongobbler commented on #229
transferring to helm-www as this is most likely a URL redirection issue from the gulp tasks.

[2019-07-08 16:43] #227 closed

[2019-07-17 14:11] seandilda commented on #139
I have been struggling with this as well.  I've found that if you click the header bar (just to the left of the 'Get Helm' link, firefox will then let you use your keyboard to scroll through the outer frame.  However, if you click the inner frame, scrolling is locked and you can't use the keyboard to scroll.

It looks like using the keyboard causes firefox to scroll the outer frame.  Chrome appear

[2019-07-17 14:22] seandilda opened #233 "CLI docs - Option descriptions require side scrolling"
When reading the command line docs, the element to describe the options is artificially narrow (lots of whitespace to the left and right), and side scrolling is enabled.

This makes the docs very difficult to understand.  To see what's available for a command like 'helm install', a user has to to constantly scroll left and right.  Aside from slowing down reading, this also makes it easy to lose vi

[2019-07-17 23:20] flynnduism commented on #139
This issue is a weird one. I've investigated the strange behaviour in Firefox... when you change focus (i.e. clicking anything after the initial pageload) the scrolling with keys no longer works as expected.

I've experimented with different CSS edits to change how the main content column is positioned and nested to try and resolve this, but with no success. I'll continue investigating but unsure

[2019-07-18 17:45] wisniewskit commented on #139
This turns out to be an interop issue with `overflow:scroll`. On my Linux box I see a second, disabled scrollbar on the content area which "breaks" the scrolling when focused. Sure enough, if I disable this CSS then that scrollbar goes away and I can scroll again:

[code]

Chrome is also showing the same "extra" scrollbar because of this CSS, but it does not seem to ignore the attempt to scroll, w

[2019-07-22 22:42] lucperkins opened #237 "Use Hugo Pipes for asset pipeline"
Hugo provides a [Pipes](https://gohugo.io/hugo-pipes/) feature that can handle, as far as I can tell, all of the "pipeline"-style tasks currently handled by Gulp. We should utilize Hugo Pipes and provide a single asset pipeline for everything on the site, particularly with the merging of #230.

[2019-07-22 22:44] lucperkins opened #238 "Make the docs navigation menu auto-inferential"
Right now, the docs menu requires each Markdown file in the documentation to specify a parent menu in the page metadata. With Hugo's [sections](https://gohugo.io/content-management/sections/) feature, this shouldn't be necessary. The navigation templates should be updated to utilize section-based logic rather than menus, thereby eliminating the need for menu metadata.

[2019-07-23 14:43] gtseres opened #240 "Search box does not work"
Hello, it seems that the top left search field in [this page](https://helm.sh/docs/) does not work (`Search...` field).

[2019-07-23 16:51] bridgetkromhout commented on #240
I'm able to duplicate the problem - on https://helm.sh/docs/  the search box is not clickable. (On https://v3.helm.sh/docs/ it does not exist.)

[2019-07-23 19:58] flynnduism commented on #233
Fixed and deployed via #235. Closing this issue.

[2019-07-23 19:58] #233 closed

[2019-07-23 19:58] flynnduism commented on #229
Fixed via #236. Closing this issue.

[2019-07-23 19:58] #229 closed

[2019-07-23 21:08] flynnduism commented on #139
@wisniewskit you are my hero. Thanks so much for finding this! You are 100% correct.

I always assumed that `scroll` was a safe default as opposed to other values (`hidden`), but I am wrong. Using `auto` solves this strange behavior. Opened #242 to implement your fix.

[2019-07-23 22:06] #139 closed

[2019-07-24 02:42] wisniewskit commented on #139
@flynnduism, no problem, I've been there before. I remember how strange it was the first time I realized that `scroll` basically means "always show scrollbars", while `auto` means "show scrollbars when necessary". It can even seem pointless, but that's what happens sometimes when there are two values to pick from :)

Feel free to check with us on the #webcompat Mozilla IRC (or ping on GitHub) if y

[2019-07-24 19:41] flynnduism opened #247 "[v3 docs] tidy up template layout for categories"
Following template changes in #230, these pages are now using the **homepage template** for each _section_ / _category_, which isn't a good fit. Specific things to address:

- [ ] titles and intro copy are off-center
- [ ] the list of subpages (boxes) are askew
- [ ] the boat animation is overused, would rather just use this on the homepage once

---

Examples:

https://v3.helm.sh/docs/intro/
http

[2019-07-24 19:42] flynnduism opened #248 "[v3 docs] correct documentation single page layout"
Follow up issue to some of the templating changes in #230. Opened #247 to address these.

Screenshot:

![Screen Shot 2019-07-24 at 12 29 50 PM](https://user-images.githubusercontent.com/686194/61823332-79578780-ae10-11e9-9eff-8a9e34f6123d.png)

[2019-07-24 20:07] flynnduism opened #249 "[v3 docs] docs homepage"
Following template changes in #230, the v3.helm.sh/docs landing page needs some work.

## Layout Fixes

Similar to #247, the page layout needs some visual adjustments. These should be quick wins:

- [ ] align text correctly away from the sidebar
- [ ] the subpages / quicklinks are askew

## Landing Page Content

The [new homepage copy](https://github.com/helm/helm-www/blob/dev-v3-docs/content/docs

[2019-07-25 12:42] emilio commented on #139
Should be fixed in the latest Firefox Nightly, though I need to say that the reasoning for the previous Firefox behavior made some sense to me. Obviously in this case it sucks though (thus the fix).

[2019-08-14 15:47] flynnduism opened #259 "(bug): fix netlify preview inconsistencies"
Netlify previews show `docs/topics/architecture` as the docs homepage, which is very unusual and not inline with how production and dev builds render the site.

It's being doing so for awhile (since we started using the previews), but have worked around it. Filing this issue and will follow up today to address it.

---

Context: see [#241](https://github.com/helm/helm-www/pull/241)

[2019-08-21 21:27] #237 closed

[2019-08-22 04:18] karuppiah7890 commented on #259
issue title is `netflix` instead of `netlify` 😅

[2019-08-22 04:33] flynnduism commented on #259
Haha, good spot @karuppiah7890

[2019-08-23 18:45] flynnduism commented on #240
The bug with the search form was patched 7/23. Closing off this issue.

---

_Regarding the v3 docs:_ - search is based off of the index of live site data, it's only available on the primary stable version of the Helm site (Helm 2). Helm 3 will not have search functionality until it sees a stable release and we change the search tool to work off of that content index.

[2019-08-23 18:45] #240 closed

[2019-08-23 18:59] flynnduism opened #266 "[docs] address missing topics in docs"
Reviewing analytics from the search feature, about 7% of all searches queries have no match to the docs content. This data is based off the latest Helm 2 docs.

Filing this issue as a reference - as we work on documentation tidy-ups it would be great to include info on any of these topics to guide users who have these kinds of queries.

---

Data of top 10 'no result' queries:

[code]

A full .csv

[2019-08-27 20:06] flynnduism opened #270 "(bug): sass file not found during build"
Seeing an issue locally when building the site - looks like the main sass file is no longer finding the `foundation-sites` partials it uses as part of the base style framework.

## Error info:

[code]

This is whilst running Hugo version `v0.57.2/extended`.

## Sass Path

The sass import error can be easily fixed -

1. By prefixing the import path with a `../node_modules/`, _or_
2. By commiting th

[2019-08-28 16:51] #270 closed, assigned to flynnduism

[2019-09-04 18:16] bacongobbler opened #278 "add CODEOWNERS file for blog content"
It was noted by some of the project maintainers that having permissions to edit a website and having permissions to curate the content of the blog should be differentiated.

Github has a concept called a [CODEOWNERS](https://help.github.com/en/articles/about-code-owners) file, and that workflow has worked out well for the Helm Charts team. Perhaps the blog directory should have a CODEOWNERS file w

[2019-09-16 14:40] mattfarina opened #284 "Doc navigation broken"
Some of the navigation is broken. It was reported over at https://github.com/helm/helm/issues/6436. If I go back to the docs for v2.14.0 the links appear to work.

[2019-09-16 15:58] mmatur commented on #284
@mattfarina

FYI

- The current production https://app.netlify.com/sites/helm-merge/deploys/5d7ab2e44264e200092a19c9 does not work https://5d7ab2e44264e200092a19c9--helm-merge.netlify.com/docs/using_helm/#quickstart-guide

- The production deploy just before https://app.netlify.com/sites/helm-merge/deploys/5d79f93d1525cc00086f08da works https://5d79f93d1525cc00086f08da--helm-merge.netlify.com/docs

[2019-09-16 21:25] flynnduism commented on #284
Thanks for flagging this!

Rebuilding the site has restored the proper site contents (e.g. [Installing Helm](https://helm.sh/docs/using_helm/#installing-helm))

[2019-09-16 22:20] bacongobbler commented on #284
Working now. Thanks!

[2019-09-16 22:20] #284 closed

[2019-09-17 16:09] hickeyma commented on #249
@flynnduism Also, the "Read the Docs" link goes to v2 docs

[2019-09-24 17:14] nvivo opened #288 "Documentation website not accessible"
I'm trying to look at the documentation website, it gives me a HTTP 301 Redirect loop.

I'm just clicking on the "docs" link in the front page, already cleared the cookies and cleared the dns cache.

![image](https://user-images.githubusercontent.com/202449/65534056-2748e600-ded5-11e9-97ad-7fe1ce1f3c66.png)

Header details:
![image](https://user-images.githubusercontent.com/202449/65534331-90305e0

[2019-09-24 17:22] bacongobbler commented on #288
When testing via cURL, there does appear to be a redirect that occurs when the trailing slash is omitted, but then it redirects to /docs/, which resolves with a 200 OK on my end.

[code]

[2019-09-24 17:28] nvivo commented on #288
Just did some tests using a proxy service, if the request comes from US, UK or Spain, it works. Tested from Japan, Canada, Egypt, Brazil and some other countries didn't.

Perharps some CDN cache is outdated?

[2019-09-24 17:35] flynnduism commented on #288
Thanks for flagging this. We use netlify but there's no caching service. Looks like they are having some service issues right now.

`https://www.netlify.com/docs/` returns the same `ERR_TOO_MANY_REDIRECTS` issue. Lots of twitter reports of an outage, though [their status page](https://www.netlifystatus.com/) is still all green.

[2019-09-24 17:37] nvivo commented on #288
At least it's not just here!

Thanks. I'll use the proxy for now and I'll get from a cache if not accessible.

[2019-09-24 18:09] flynnduism commented on #288
@nvivo you can browse the docs files [directly on github here](https://github.com/helm/helm/tree/master/docs) (for latest Helm 2 stable release) or [here for Helm 3](https://github.com/helm/helm-www/tree/dev-v3-docs/content/docs) (beta)

[2019-09-24 18:10] flynnduism commented on #288
Netlify networking issue is resolved, the site is back up now!

[2019-09-24 18:10] #288 closed

[2019-10-02 07:19] karuppiah7890 opened #297 "Helm 3: Docs Home page design"
I noticed the home page of v3 docs could get more spacing in terms of design. It's all too compact now

<img width="1440" alt="Screen Shot 2019-10-02 at 10 32 33 AM" src="https://user-images.githubusercontent.com/12808424/66019358-a5724180-e500-11e9-95fa-834896488a47.png">

I think the text on the top should not be so close to the water. Felt it could be better. Probably some CSS issue, not sure w

[2019-10-02 07:59] ecout opened #298 "Link to securing_installation.md exists in Helm V3 Quickstart but actual document covers tiller"
This is a duplicate of issue: https://github.com/helm/helm/issues/6507 and has been created as requested by:
@hickeyma

Output of `helm version`:
v 3.0.0 - beta 1
Output of `kubectl version`:
N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

Documentation:
The Quick Start Guide here:
https://v3.helm.sh/docs/intro/quickstart/

has a broken link to this file: securing_installation.md
https

[2019-10-02 15:52] martinvelos opened #299 "installation guide link missing in docs' quickstart"
https://v3.helm.sh/docs/intro/quickstart/#install-helm has missing "the installation guide" link's target. (Install section)
In v2 this went to packaged binaries, which we don't have in v3/beta.

[2019-10-02 15:55] bacongobbler commented on #299
transferred to helm-www

[2019-10-02 16:03] hickeyma commented on #299
Thanks for transferring @bacongobbler. Didn't realise this could be done.

[2019-10-04 15:58] mattfarina opened #300 "v3 vanity url for imports"
`import helm.sh/helm` worked until we moved to Go modules and v3. Now we need to have `import helm.sh/helm/v3`. There needs to be an additional redirect put in place for this.

You can read the docs on this stuff at https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher.

[2019-10-04 18:35] bacongobbler opened #301 "FAQ: include documentation about the crd-install hook being dropped in Helm 3"
See https://github.com/helm/helm/pull/6243

[2019-10-09 09:37] rimusz commented on #300
@mattfarina can you address this issue ASAP please, we got blocked by this issue with cutting new release for https://github.com/helm/helm-2to3
Thank you

[2019-10-09 15:48] #300 closed

[2019-10-14 14:50] hickeyma commented on #301
The CRD page should also be updated: https://v3.helm.sh/docs/topics/chart_best_practices/custom_resource_definitions/

[2019-10-16 13:47] hickeyma commented on #301
Maybe it needs to be replaced with this: https://v3.helm.sh/docs/topics/charts/#custom-resource-definitions-crds ?

[2019-10-17 21:10] bacongobbler commented on #310
fixed in https://github.com/helm/helm-www/pull/309

[2019-10-17 21:10] #310 closed

[2019-10-21 21:19] mac9416 opened #316 "Documentation incorrectly uses hyphens in environment variables"
[This page](https://helm.sh/docs/helm/#synopsis) lists environment variables with hyphenated words. I know that at least `TILLER-NAMESPACE` [should use an underscore instead](https://stackoverflow.com/q/58492256/684776).

[2019-10-23 16:17] bacongobbler opened #319 "create v2.helm.sh"
As part of the 3.0.0 release, we will need to switch the main documentation in helm.sh over to the v3 repository. In the meantime, we should create a CNAME for v2.helm.sh that points to the current documentation for Helm 2, similar to how we have a v3.helm.sh for Helm 3.

[2019-10-23 16:17] bacongobbler opened #320 "Migrate blogs/Go import links to v3.helm.sh"

[2019-10-23 16:18] bacongobbler opened #321 "Make v3.helm.sh the new helm.sh"
To be done once Helm 3.0.0 goes live.

TODO:

- [ ] complete #320 to ensure all URLs at helm.sh continue to work

[2019-10-23 16:19] bacongobbler opened #322 "switch dev-v3-docs to master; master to dev-v2-docs"
As Helm 3 will become the new development branch moving forward, the Helm 3 documentation site should become the new master branch. This will make it easier for new developers who want to contribute documentation, enhancements or blog posts for Helm 3.

[2019-10-23 16:23] bacongobbler commented on #298
thanks @ecout. The documentation for Helm 3 has moved to the helm-www repo under the `dev-v3-docs` branch, so the actual document no longer exists. We probably need to update the quickstart and remove that section.

Here's the Helm 3 docs' new location: https://github.com/helm/helm-www/tree/dev-v3-docs/content/docs

[2019-10-24 18:34] #198 closed

[2019-10-26 04:48] dstrebel opened #326 "Helm 3 Docs 404 install guide"
Output of `helm version`: Helm 3

Output of `kubectl version`: NA

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  NA

"The installation guide" link on this page https://v3.helm.sh/docs/intro/quickstart/ .  redirects to a 404 page.

[2019-10-29 00:23] flynnduism opened #327 "cncf hidden on docs pages"
There's a css issue with the sidebar overlapping the footer:

![image](https://user-images.githubusercontent.com/686194/67727688-953a6e80-f9a7-11e9-99d4-09066e6ca96a.png)

[2019-10-29 23:54] Tzrlk opened #328 "Documentation for .helmignore file is missing"
The changes applied as part of helm/helm#4638 are no-longer in the online documentation being published from helm/helm-www to https://helm.sh/docs/

[2019-10-30 01:01] bacongobbler commented on #328
this is probably because the `template-concat` gulp task does not include the file introduced in that PR. Feel like adding that in there? :)

[2019-10-30 01:01] bacongobbler commented on #328
https://github.com/helm/helm-www/blob/e4c8fb0255075ba1da1781ea22d6b7b0620b13a9/gulpfile.js#L96

[2019-10-30 19:48] flynnduism commented on #319
Archival site created here or v2 Latest Docs: https://v2-helm.netlify.com/

Ticket [filed](https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-18103) with the LF to create a v2.helm.sh subdomain record.

[2019-11-01 03:13] Tzrlk commented on #328
I've done the basic work in a fork, though when running the site locally, I don't see the file included in the page output. Should I create a merge request to discuss the changes?

[2019-11-01 03:48] bacongobbler commented on #328
Sure

[2019-11-06 11:40] marckhouzam opened #336 "References to XDG paths is insufficient"
In multiple places in the documentation there are references to XDG paths.
For example it says in https://v3.helm.sh/docs/topics/charts/#chart-starter-packs:

"Currently the only way to add a chart to $XDG_DATA_HOME/helm/starters is to manually copy it there. In your chart’s documentation, you may want to explain that process."

So I can imagine a user would do something like:
[code]
The problem i

[2019-11-06 11:42] marckhouzam commented on #336
Any suggestions on how to improve the user experience for this?

Maybe `helm env` should print the three XDG locations?

Maybe @bacongobbler has some thoughts as he worked on the XDG path stuff?

[2019-11-06 20:53] #328 closed

[2019-11-06 20:57] bacongobbler commented on #326
seems to work now. closing.

[2019-11-08 16:04] banzo opened #340 "Install link broken"
Various links in the Quick Start guide (https://helm.sh/docs/using_helm) are broken.

In particular, the link to the installation instructions: https://helm.sh/docs/using_helm/#installing-helm

[2019-11-08 16:10] bacongobbler commented on #340
rebuilt the site. Links appear to be working again. Thanks!

[2019-11-08 16:10] #340 closed

[2019-11-08 16:12] bacongobbler commented on #326
fixed in #339.

[2019-11-08 16:12] #326 closed

[2019-11-08 16:12] bacongobbler commented on #319
https://v2.helm.sh/

[2019-11-08 16:12] #319 closed

[2019-11-08 16:14] bacongobbler commented on #299
fixed in #339

[2019-11-08 16:14] #299 closed

[2019-11-08 16:16] bacongobbler commented on #298
The "Securing your Helm Installation" guide was removed from the Helm 3 site, as it went over various knobs for Tiller which no longer exists. https://v3.helm.sh/docs/topics/rbac/ is the only topic guide in Helm 3 that users should be aware of.

Closing.

[2019-11-08 16:16] #298 closed

[2019-11-08 16:17] bacongobbler commented on #297
fixed in #331.

[2019-11-08 16:17] #297 closed

[2019-11-08 16:18] bacongobbler commented on #259
has this been addressed or is it still an issue?

[2019-11-08 16:21] bacongobbler commented on #238
Implemented in the `dev-v3-docs` branch. The content only has to specify an optional `weight` field if they want to be sorted in a different order. By default they're sorted alphabetically.

See [here](https://github.com/helm/helm-www/blob/dev-v3-docs/content/docs/intro/getting_started.md) for a non-weighted example, and [here](https://github.com/helm/helm-www/blob/dev-v3-docs/content/docs/howto/c

[2019-11-08 16:21] #238 closed

[2019-11-08 16:23] bacongobbler commented on #96
re-titled the issue to reflect the ask. I agree with @bridgetkromhout and @flynnduism that an architecture diagram in the technical section of the docs makes more sense than the landing page.

[2019-11-08 16:24] bacongobbler commented on #247
addressed in #331

[2019-11-08 16:24] #247 closed

[2019-11-08 16:24] bacongobbler commented on #248
addressed in #331

[2019-11-08 16:24] #248 closed

[2019-11-08 16:32] bacongobbler commented on #249
addressed in #203

@hickeyma thanks for raising this. I opened https://github.com/helm/helm-www/pull/341 to address that particular issue.

[2019-11-08 16:32] #249 closed

[2019-11-09 12:29] dastrobu opened #342 "update contributing info in README.md on helm docs"
Currently the [README.md](https://github.com/helm/helm-www/blob/dev-v3-docs/README.md) states

Where the link [helm/helm](https://github.com/helm/helm/tree/master/docs) leads to 404.
It seems to be the case that docs have been moved to the helm-www repo for v3, which should be reflected in the README.md.

I would like to contribute to the v3 docs, to address issues [6342](https://github.com/helm/h

[2019-11-09 15:22] flynnduism commented on #342
Hi @dastrobu thanks for bringing this to our attention. The readme is incorrect!

The docs for Helm 3 have moved to this repo. They can be found here: [https://github.com/helm/helm-www/tree/dev-v3-docs/content/docs](https://github.com/helm/helm-www/tree/dev-v3-docs/content/docs) on the dev-v3-docs `branch` , which will replace master once Helm 3 is fully released.

I will update the Readme to the

[2019-11-11 05:51] ecout commented on #298
@bacongobbler You're welcome! Thanks for addressing.

[2019-11-12 22:05] #342 closed

[2019-11-13 00:47] technosophos commented on #336
Agree on this, but I am not sure what the right solution is for the docs.

[2019-11-13 01:27] marckhouzam commented on #336
I thought this idea may eventually help https://github.com/helm/helm/issues/6890

where the user could be given the path
$(helm env --show data)/starters

[2019-11-13 05:40] #327 closed

[2019-11-13 06:03] flynnduism commented on #322
The switch has been made. 🎉 :shipit:

[code]

[2019-11-13 06:03] #322 closed

[2019-11-13 06:25] flynnduism opened #377 "[v3] docs search not working"
![Screen Shot 2019-11-12 at 10 24 57 PM](https://user-images.githubusercontent.com/686194/68738484-4857ba00-059b-11ea-87c7-ee05e9ae6b83.png)

The algolia search tool is still rendering on `v2.helm.sh` but not on `helm.sh`.

---

* check the domain config for the search
* see about rebulilding the search index now that the site content + structure has been changed

[2019-11-13 15:47] marckhouzam opened #379 "FAQ XDG section needs updating"
I was browsing the FAQ and noticed the XDG section (https://helm.sh/docs/faq/#xdg-base-directory-support) mentions that `HELM_HOME` is set which I don't believe is the case.

It also mentions `HELM_PATH_CACHE` and other such variables which I also don't believe exist.

I'm sorry that I don't have the chance to post an actual PR.

[2019-11-13 16:44] prachetaa opened #381 "Vanity URL for helm3 not working"
require (
	helm.sh/helm/v3 v3.0.0
)
leads to

go: helm.sh/helm/v3@v3.0.0: unrecognized import path "helm.sh/helm/v3" (parse https://helm.sh/helm/v3?go-get=1: no go-import meta tags ())

This used to work, but is now broken.

[2019-11-13 16:53] #381 closed

[2019-11-13 16:53] prachetaa commented on #381
https://github.com/helm/helm-www/pull/380

[2019-11-13 22:02] Datamance opened #383 "Helm commands missing from v3 docs"
![image](https://user-images.githubusercontent.com/8699411/68808151-2449b680-0637-11ea-8995-f4051eab8864.png)

Not a big deal since the 2.x docs have them, although there were a few changes mentioned in the new FAQ.

[2019-11-13 22:11] bacongobbler commented on #383
Hi @Datamance. The section containing CLI help text output was removed from the documentation for Helm 3. We did this to ease the process of contributing new documentation to the site.

You can view these documents locally with the `helm docs` command.

Closing as a duplicate of https://github.com/helm/helm/issues/6877. Thanks!

[2019-11-13 22:11] #383 closed

[2019-11-14 00:51] morremeyer opened #385 "Helm 3 FAQ: Why use Secrets instead of ConfigMaps?"
[The FAQ](https://v3.helm.sh/docs/faq/#secrets-as-the-default-storage-driver) informs us about the default storage driver changing from ConfigMaps to Secrets, but does not provide information as to why.

I couldn't find the "why" so far, so it would be nice if someone knowing about it or being better with their google-foo than I am could add the information.

[2019-11-14 01:07] bacongobbler commented on #385
In Helm 2.7.0, a new storage backend that uses Secrets for storing release information was implemented. This was added for additional security in protecting charts in conjunction with the release of Secret encryption in Kubernetes. Encrypting secrets at rest is a feature that has been made available as an alpha feature in Kubernetes 1.7. This allows users to encrypt Helm release metadata at rest,

[2019-11-14 01:07] bacongobbler commented on #385
https://v2.helm.sh/docs/using_helm/#secret-storage-backend

[2019-11-14 16:19] #321 closed

[2019-11-14 16:19] #320 closed

[2019-11-14 16:19] #259 closed

[2019-11-18 02:41] TBBle opened #394 ""Using the 'tpl' Function" is missing from v3 docs"
The [`tpl` function docs from v2](https://v2.helm.sh/docs/developing_charts/#using-the-tpl-function) do not appear to be present in the [v3 docs](https://helm.sh/docs/howto/charts_tips_and_tricks/).

I suspect this is because the [pull request for the docs](https://github.com/helm/helm/pull/4160), was only applied to `master` (now `dev-v2`), and not `dev-v3` (now `master`), and was hence not carri

[2019-11-19 13:21] SLepUbIn opened #397 "[helm3] doc error, wrong/duplicate link"
Go to https://helm.sh/docs/ for v3
At the bottom of the page in quicklinks, both "Deploying to Kubernetes" and "CI/CD for Kubernetes" point to the same destination : https://daemonza.github.io/2017/02/20/using-helm-to-deploy-to-kubernetes
despite the latter being labeled as "via Hackernoon"

[2019-11-19 18:05] Datamance commented on #383
@bacongobbler `helm docs` gives me nothing on the command line (this is for version 3.0.0). Furthermore, `helm help` doesn't list `docs` as an option.

here's my version info:
[code]

[2019-11-19 18:22] bacongobbler commented on #383
It's a hidden command, but it should be there.

https://github.com/helm/helm/blob/master/cmd/helm/root.go#L398-L399
https://github.com/helm/helm/blob/master/cmd/helm/docs.go#L53

[2019-11-20 23:13] #397 closed

[2019-11-25 18:21] ErinCall opened #405 "Articles are sorted alphabetically, not in conceptual order"
In the docs sidebar, as well as index pages like https://v3.helm.sh/docs/topics/, the articles are sorted alphabetically by title. However, the articles' contents assume a different ordering.

For example, `content/docs/topics/chart_template_guide/control_structures.md` says "Since we commented out drink: coffee in our last example..." That's referring to an example in `content/docs/topics/chart_t

[2019-11-25 21:06] StephenBrown2 commented on #405
Pages can be ordered with the `weight: ` keyword in the top-matter. I've submitted a PR with the weights added to match as best as I could the v2 docs. Could you check to see that the topic article orders for "[Best Practices](https://deploy-preview-407--helm-merge.netlify.com/docs/topics/chart_best_practices/)" and "[Developing Templates](https://deploy-preview-407--helm-merge.netlify.com/docs/to

[2019-11-25 21:35] ErinCall commented on #405
Thanks for jumping on this so quickly!

* Developing Templates looks right.
* Best Practices seems reasonable, but I only skimmed it since I want to get a handle on the topics first.
* The `.md` files that are directly under `topics/` are still alphabetical. They don't seem to do as much building on previous examples, but it does seem like "Charts" should go before "Chart Tests," for example.

[2019-11-25 21:50] bacongobbler commented on #405
Thanks for catching this.

Each topic guide should be able to stand on its own, so that should be fine. The "Chart Best Practices" and "Developing Templates" topic guides consist of multiple topic guides so that makes sense they need to be weighted.

[2019-11-25 21:50] #405 closed

[2019-11-26 00:08] StephenBrown2 opened #408 "`helm install` output not updated for helm v3"
I'm going through the docs, specifically [Getting Started](https://helm.sh/docs/intro/getting_started/), and the charts are installed several times with a simple `helm install ./mychart`, with the result being a success and the response starting with
[code]
or likewise.

Instead, I get the message:
[code]

and when I specify `--generate-name`, I get something like:
[code]

The docs should probably

[2019-11-26 00:15] marckhouzam commented on #408
Yes, I can confirm that with Helm 3 you need to specify the name yourself (`helm install myrelease ./mychart`), or use the `--generate-name` flag.

[2019-11-27 13:54] erpel opened #411 ""Read the Docs" link on https://v2.helm.sh/ leads out of v2 page"
On https://v2.helm.sh/ scrolling down and clicking the "Read the Docs" link leads to helm v3 documentation.

![image](https://user-images.githubusercontent.com/143569/69728946-be285d80-1125-11ea-9d8a-48dc02bf5629.png)

I would have tried to fix myself but did not manage to find the correct place where the v2 website gets its content from.

[2019-11-28 14:09] karuppiah7890 opened #413 "Add doc about extra fields in .Capabilities.Kube"
Issue: https://github.com/helm/helm/issues/7004
PR: https://github.com/helm/helm/pull/7062

Docs link - https://helm.sh/docs/topics/chart_template_guide/builtin_objects/

New fields to be added after PR merge, are:

`.Capabilities.KubeVersion.GoVersion`
`.Capabilities.KubeVersion.Compiler`
`.Capabilities.KubeVersion.Platform`

Doc for Helm version: v3.1.0

[2019-11-28 16:06] PYLochou commented on #413
Hello, I may be wrong but according to https://github.com/helm/helm/pull/7062/commits/f8ba2f1a9cecfe7052e63204fba9aab99e4d7094 it seems it will be under .Capabilities.KubeVersion and not .Capabilities.Kube?

[2019-11-28 16:18] karuppiah7890 commented on #413
Oh yes! Sorry about that. Looks like existing docs is wrong. I'll confirm the correct value and update here and raise a PR for fixing existing :)

[2019-11-29 02:02] karuppiah7890 opened #414 "Fix .Capabilities object key name kubernetes version"
According to this code

https://github.com/helm/helm/blob/master/pkg/chartutil/capabilities.go#L50-L52

The key name starts with `KubeVersion`

[2019-11-29 02:03] karuppiah7890 commented on #413
Raised an issue #414 for the same! And edited the above issue! Thanks! 😄

[2019-12-01 08:54] rpsadarangani opened #418 "Helm Feature Not visiable due to Text Color"
Helm Home Feature are not visible, due to issue with text color.

[2019-12-04 20:48] vicaya opened #421 "Does helm v3 still have the 1MB release storage limit?"
We're hitting the release size limit issue (https://github.com/helm/helm/issues/1413 , even after compression!). I wonder if v3 did anything to address the problem.

[2019-12-04 21:48] bacongobbler commented on #421
This is a backend issue having to do with etcd's storage limit. Helm 3 won't solve this issue, unfortunately.

[2019-12-04 21:48] #421 closed

[2019-12-04 22:10] vicaya commented on #421
Was hoping v3 automatically split the release info into chunks that could fit the kv interface of etcd.
How do we dump and inspect the serialized content of a release?

[2019-12-04 23:39] vicaya opened #422 "Add storage backend section"
The install guide is missing the section on storage backend configuration.

[2019-12-05 04:01] karuppiah7890 commented on #414
PR for this - #415

[2019-12-06 10:18] tiborsomodi opened #424 "Submenus are broken on v3 documentation"
When browsing the V2 documentation I can open submenus, like when I click on "Using helm", it displays "Quickstart", "Installing Helm".. on the sidebar.
However in the V3 documentation this is broken.

Also the version selector doesn't work.

[2019-12-10 14:30] gtseres opened #429 "Helm version selector does not work in the Helm website"
In the Helm website, at the top-right of the page, the Helm version is displayed along with a downwards facing arrow, leading the visitor to assume that by clicking it, a dropdown for other Helm versions (e.g. 2) would pop up. This is not the case though (screenshot attached):

![Screenshot 2019-12-10 at 16 29 37](https://user-images.githubusercontent.com/8204987/70538144-49641300-1b6a-11ea-8841-c

[2019-12-10 17:34] flynnduism commented on #429
Hi @gtseres, thanks for filing this issue!

We've just deployed a fix, so [https://helm.sh/docs/](https://helm.sh/docs/) should all be back in working order. Thank you for reporting.

[2019-12-10 17:34] #429 closed

[2019-12-10 17:35] flynnduism commented on #424
Fixed via #425

[2019-12-10 17:35] #424 closed

[2019-12-11 09:59] gtseres commented on #429
It works as expected now! Thanks a lot!

[2019-12-11 10:26] vanga opened #432 "Discontinued "helm serve" is being used in helm 3 docs"
https://helm.sh/docs/topics/chart_repository/ talks about using `helm serve` command.
It's listed as a removed feature here https://v3.helm.sh/docs/faq/#changes-since-helm-2

[2019-12-11 13:37] tomkivlin opened #433 "Does Helm v3 require an explicit list of k8s distros it works with?"
Or should it just state that any Kubernetes distro that is listed as a [Certified Kubernetes Distribution](https://www.cncf.io/certification/software-conformance/#logos) will work?
Unless there are additional constraints that need to be in place?  In which case, can we detail those, so new additions to the page can prove their compliance for Helm users.

Affected page: https://github.com/helm/helm

[2019-12-11 14:30] MirahImage opened #434 "Navigation in developing templates"
The [Developing Templates](https://helm.sh/docs/topics/chart_template_guide) portion of the documentation is written as a step-by step guide, starting with the [Getting Started](https://helm.sh/docs/intro/getting_started/) section. However, there is no ordered navigation provided between the individual pages and steps.

[2019-12-11 15:39] bacongobbler commented on #433
In general, yes, Helm will work with any certified kubernetes distribution. The page was originally put in place to describe any additional setup that may be required to use Helm with those distributions, or other distributions that have not gone through the CKD process (like k3s, for example).

[2019-12-13 13:57] gtseres opened #438 "Search box does not work for v2.14.0"
It seems that the search box is unresponsive in the v2.14.0 [documentation page](https://v2-14-0.helm.sh/docs/).

[2019-12-13 18:36] flynnduism commented on #438
Hi @gtseres unfortunately we have to limit the search tool to use on more recent versions.

Each archival version of the site is sandboxed and we can't generate seperete Algolia search accounts/indexes/configs each time.

Best way to search older versions is via a `site:` prefix in your preferred search engine ([example](https://duckduckgo.com/?q=site%3Av2-14-0.helm.sh%2Fdocs%2F+question&t=h_&ia=w

[2019-12-13 18:36] #438 closed

[2019-12-19 07:13] chainhead opened #443 "Quick start guide does not have correct commands."
**Helm version**

[code]

If we are in `mychart` folder (after `helm create mychart`), then does it imply that the `${PWD}` is in `mychart`? If yes, then the next command to clean up the `templates` folder should be, `rm -rf templates/*.*`. However, this command does not remove the `tests` folder; due to which the subsequent `install` command fails with this message:

[code]

Therefore, the comman

[2019-12-20 06:09] #418 closed

[2019-12-29 13:27] karuppiah7890 opened #450 "Add info about helm-s3 plugin"
https://helm.sh/docs/community/related/#helm-plugins

[2019-12-29 13:27] karuppiah7890 opened #451 "Add info about helm-schema-gen plugin"
https://helm.sh/docs/community/related/#helm-plugins

[2020-01-03 00:49] #434 closed

[2020-01-07 02:21] #450 closed

[2020-01-07 02:21] #451 closed

[2020-01-10 15:25] tsekityam opened #460 "link to Chart Template Guide in Getting Started is broken"
The link to Chart Template Guide in https://github.com/helm/helm-www/blob/994d2f63b5f77361f559ba2f8d8eb1872badb2b5/content/docs/chart_template_guide/getting_started.md#L247 is linked to a [broken link](https://helm.sh/docs/topics/chart_template_guide). The correct link should be https://helm.sh/docs/chart_template_guide/index.html

[2020-01-10 17:18] #460 closed

[2020-01-10 17:19] #408 closed

[2020-01-13 15:00] #414 closed

[2020-01-13 15:23] mattfarina commented on #432
This was fixed in https://github.com/helm/helm-www/pull/453.

[2020-01-13 15:23] #432 closed

[2020-01-13 15:48] mattfarina commented on #377
Closing as it is rendering and working on both the v2 and v3 docs.

[2020-01-13 15:48] #377 closed

[2020-01-13 16:02] mattfarina commented on #422
You are right, this is not documented. PRs welcome to document this.

A driver is set via an environment variable. It is defined at https://github.com/helm/helm/blob/985827d09a0456551e116805a7c41c32800c85c0/cmd/helm/root.go#L326.

The current supported drivers are listed at https://github.com/helm/helm/blob/985827d09a0456551e116805a7c41c32800c85c0/pkg/action/action.go#L232-L248. Unfortunately, sql

[2020-01-14 16:34] mattfarina commented on #433
I think it would be useful to document, likely at the top of this document, that Helm should work with any conformant version of Kubernetes (whether certified or not).

[2020-01-17 07:01] argunasekhar opened #467 "how to make use of helm install in offline mode (servers are not internet enabled)"
Hi -

i've a server, which is not internet enabled (offline)
i'm trying to install couchbase in my k8s cluster through helm charts , and i have loaded docker images of couchbase already, but still my helm is looking for images and throwing below error

[code]

[2020-01-17 12:30] hickeyma opened #469 "Improve library chart documentation"
Add library chart example describing how to use library chart with an app chart

[2020-01-17 12:32] hickeyma commented on #469
I'll push a PR shortly for this.

[2020-01-17 15:20] hedgss commented on #469
Perhaps it can help somebody.
Create a named function in the library chart in the templates folder.
The file with the named template must have a name that starts from "_". Extention can be tpl or yaml.
You can choose any name for the named templated.
1. **_test.tpl**
[code]
**_utils.tpl**
[code]
2. In the application chart you can use it in the following way:
[code]

[2020-01-17 15:21] hedgss commented on #469
It'd be good also to add best practises.
And I think it'd be good to add a similar example with Lua instead of the go templates.

[2020-01-19 15:54] oke-py opened #471 "The 2nd command fails because name is not specified"
[code]

[2020-01-19 16:35] #471 closed

[2020-01-20 12:04] hedgss commented on #469
One more question.
 In my case, a template must generate more than one configuration. The configurations are split by "---".
How can I use a template that generates more than one configuration?
e.g.
[code]
If I use "lib.test.tpl" in the same chart ```{{ template "lib.test.tpl" .}}``` it works.
It won't work if I use "lib.test"
It prints only the first one configuration.
How can I use a named templ

[2020-01-21 19:22] #394 closed

[2020-01-21 19:26] mattfarina commented on #467
@argunasekhar You might find some better support for this in the https://github.com/helm/helm issues.

You will likely need to pass your custom image location in to the chart at install time. I am not sure what chart you are using to provide you with more details than that right now.

[2020-01-22 16:59] mattfarina commented on #385
The why would be a good think to have under https://helm.sh/docs/faq/ where it talks about the switch to secrets.

[2020-01-22 17:01] mattfarina opened #473 "Next steps page has numerous broken links"
See report on https://github.com/helm/helm/issues/7454

[2020-01-22 20:25] #473 closed

[2020-02-04 22:32] zackbrown opened #487 "Improve documentation generation process"
Related to: https://github.com/helm/helm-www#updating-the-helm-cli-reference-docs , the primary pain points are:

- The manual .md-file-copying process is prone to missing deletions, leading to stale docs (for example: https://github.com/helm/helm/issues/6996#issuecomment-582065733 )
- The manual .md-file-copying process would benefit from scripting

I took a pass at addressing these in this close

[2020-02-05 02:18] jkleckner opened #489 "Add an index of helm functions with pointers to index of Sprig and Go functions"
It is frustrating to get started with Helm in part due to the lack of an index of functions.

A simple list of the functions introduced in Helm in alphabetical order with a synopsis on one line linked to the detailed description would help newcomers a lot to find out what is there.

Duplicating a few of the important ones from Sprig and Go with links to their definitions would also be nice.

Note

[2020-02-06 15:26] mattfarina commented on #487
This would be great to have better automation around this.

[2020-02-06 15:27] mattfarina commented on #489
This would be fantastic to add. I like the idea. We should not expect so many people to know Go templates and sprig functions.

It can start small and contributions are very welcome for this.

[2020-02-14 22:01] mattfarina opened #497 "Why 2.14.0 docs"
In the UI we list links to docs for 3.1.0, 2.16, and 2.14. You can see this in the `config.toml` configuration:

https://github.com/helm/helm-www/blob/cacaa13201f35a73e591c51896c65f150be091a0/config.toml#L42-L44

Is there a reason we have 2.14 docs, a point frozen in time, for people to get to?

[2020-02-14 22:16] jkleckner commented on #489
Note this useful template cheat sheet: https://lzone.de/cheat-sheet/Helm+Templates

[2020-02-14 23:29] flynnduism commented on #497
We can remove this if it doesn't seem useful...

IMO if a major release still has people using it, we could preserve archival docs. It's pretty easy to generate these and doesn't cost anything. Though as per [this thread](https://github.com/helm/helm-www/pull/493#issuecomment-585871736) I'm not sure which releases are best archived in this way.

I will happily follow the wishes of you and the othe

[2020-02-16 15:45] bagratte opened #499 "Code block styles messed up when running locally"
This is what I see on, for example, http://localhost:1313/docs/topics/charts/
![image](https://user-images.githubusercontent.com/11438666/74607720-844b6f80-50f4-11ea-924b-5adbb03ff370.png)
All code blocks look like this on localhost.

For comparison, this is what the corresponding code block looks like on https://helm.sh/docs/topics/charts/
![image](https://user-images.githubusercontent.com/114386

[2020-02-17 14:24] hickeyma commented on #499
@bacongobbler @mattfarina Do you mind transferring this to helm-www repo?

[2020-02-20 12:01] hickeyma commented on #422
https://github.com/helm/helm/pull/7635 to add SQL storage driver to Helm 3

[2020-02-20 16:53] bridgetkromhout commented on #497
For comparison, https://kubernetes.io/docs/home/ currently has docs for 5 minor releases.

![image](https://user-images.githubusercontent.com/2104453/74958862-3625bd00-53cf-11ea-83ea-769a79bb17fa.png)

[2020-02-20 19:42] mattfarina commented on #497
@bridgetkromhout The difference there is that each Kubernetes minor release is breaking in some way. Kubernetes does not follow semver when it comes to some things. Though, it is nice to have that.

@flynnduism On the helm dev call today we talked about this. It would be nice to have but we aren't consistently doing it right now. We have v2.14 and v2.16. But not v2.15. And docs for v2 and v3 are h

[2020-02-24 17:47] mattfarina opened #505 "Document lookup function"
I can't seem to find any docs on it.

[2020-02-24 18:05] bacongobbler commented on #505
thanks for opening this. @raffaelespazzoli  are you still interested in doing this? You mentioned you were looking into this as per https://github.com/helm/helm/issues/7473#issuecomment-579043756

[2020-02-24 19:31] raffaelespazzoli commented on #505
@bacongobbler yes and apologies for taking a long time. Let me take a stab at it.

[2020-02-26 14:44] mattfarina opened #511 "Document methods to download a plugin"
https://github.com/helm/helm/issues/7679 brought out that there are ways to type hint how Helm should try to download a plugin when it's not obvious. I could not find this in the documentation. Would be good to document.

[2020-02-26 17:17] fdavis99 opened #512 "Docs, Introduction, FAQ need "What is Helm?""
I was pointed at https://helm.sh/docs/ having no idea what Helm is. I couldn't find anything that answers that question. Seems like that should be right at the top!

Could borrow from or reference:
https://helm.sh/
https://boxboat.com/2018/09/19/helm-and-kubernetes-deployments/
https://platform9.com/blog/kubernetes-helm-why-it-matters/
https://hackernoon.com/what-is-helm-and-why-you-should-love-it

[2020-03-02 17:02] GarbageYard commented on #469
@hickeyma : Will really appreciate if the Library Charts docs can be updated. Current docs do provide an idea but i feel it's not complete.

[2020-03-02 17:48] bacongobbler commented on #469
If anyone wants to write documentation based on the talk @hickeyma gave at Helm Summit EU, it's recorded here: https://www.youtube.com/watch?v=CuV9QUjUcUA

[2020-03-02 20:13] hickeyma commented on #469
@bacongobbler I will try and push PR tomorrow on this. Being distracted lately when trying to get to this.

[2020-03-02 20:45] TJM opened #521 "3-way diff doesn't appear to be working when using `helm diff upgrade`"
ISSUE: We thought that with helm3, we would be able to validate the desired state of helm charts, per the documentation ( https://helm.sh/docs/faq/#improved-upgrade-strategy-3-way-strategic-merge-patches ), it would appear that setting something like "replicas" would be validated against the live status, even if there was not an apparent change in the chart.

I am going to assume requisite access

[2020-03-02 20:52] bacongobbler commented on #521
`helm diff` is a plugin created by members of the community. It was originally written against helm 2. They will likely need to introduce a feature flag to `helm diff` that calculates the diff using a three-way merge patch strategy.

Can you open this as a feature request for the `helm diff` plugin?

https://github.com/databus23/helm-diff

Closing as this is a feature request for a plugin maintain

[2020-03-02 20:52] #521 closed

[2020-03-02 23:42] edhgoose opened #522 "Code examples unreadable due to contrast"
I'm looking at https://helm.sh/docs/topics/charts/, and this is what I can see:

<img width="1399" alt="Helm___Charts" src="https://user-images.githubusercontent.com/1108173/75728140-e0aab380-5cde-11ea-9b82-33f1cc85ff48.png">

It's nearly totally unusable I'm afraid.

It seems to be the same on any page with the `<code>` blocks. E.g. here's a screenshot from https://helm.sh/docs/intro/using_helm/

[2020-03-03 00:28] flynnduism commented on #522
Duplicate of #499.

Investigating this - the markup on the site shows a code highlighter being applied to these sections, overwriting the site CSS and dropping inline styles directly into the code examples.

![Screen Shot 2020-03-02 at 4 26 29 PM](https://user-images.githubusercontent.com/686194/75730811-ba672280-5ca2-11ea-8c00-9b317574cd05.png)

I'm not sure where this is coming from, I will appl

[2020-03-03 05:16] #499 closed

[2020-03-03 05:17] bacongobbler commented on #522
Fixed in #523

[2020-03-03 05:17] #522 closed

[2020-03-03 12:43] hickeyma opened #524 "LHS menu items in docs are duplicated"
The menu items from `Introduction' to 'Community' are duplicated on latest v3 docs.

![Screenshot 2020-03-03 at 12 40 48](https://user-images.githubusercontent.com/14892004/75776684-5a2cbb00-5d4c-11ea-8131-50739f170499.png)

Browser:
Google Chrome
Version 80.0.3987.122 (Official Build) (64-bit)

[2020-03-03 14:07] mattfarina commented on #512
@fdavis99 This is a great catch. Those of us who work on Helm sometimes forget about all the new folks coming to Kubernetes and Helm who can use some basic explanations.

[2020-03-05 10:00] hickeyma commented on #469
Pushed PR #526

[2020-03-08 13:51] oke-py opened #530 "`Contribute to Docs` link is broken"
`Contribute to Docs` link is broken.
![helm-www](https://user-images.githubusercontent.com/4710215/76164059-104e3580-618f-11ea-9eab-ec660cb7db92.png)

It should probably be `https://github.com/helm/helm-www/tree/master/content/en/docs`.
`/en` might be missing.

[2020-03-09 08:19] hickeyma commented on #530
@oke-py Thanks for finding this bug. Would you like to push a fix for it?

[2020-03-09 09:03] #530 closed

[2020-03-09 09:04] hickeyma commented on #530
Its looks like @lemonli Had found this issue and had already pushed the PR to fix it. Hope that is ok @oke-py ?

[2020-03-09 09:59] oke-py commented on #530
LGTM, thanks.

[2020-03-11 08:45] rooftop90 opened #533 "Chart Template Guide link incorrect"
The Link for Chart Template Guide at the bottom on page https://helm.sh/docs/chart_template_guide/getting_started/ references to the start page (https://helm.sh/docs/) instead to the Chart Template Guide (https://helm.sh/docs/chart_template_guide/)

[2020-03-11 09:14] hickeyma commented on #533
@rooftop90 Thanks for finding this error. Would you like to push a PR for it?

[2020-03-11 09:54] jayrajput opened #536 "Doc Bug: install.go need extra line for markdown to render properly"
![image](https://user-images.githubusercontent.com/2172309/76404244-2b49c100-63ac-11ea-84e9-73c48279fb8d.png)

Need line between 62 and 63 (similar to between 58 and 60). This is causing the documentation markup to not show the command properly

![image](https://user-images.githubusercontent.com/2172309/76404310-45839f00-63ac-11ea-8390-37aa8c1dc4c1.png)

See how the second command is not seen on i

[2020-03-11 11:43] rooftop90 commented on #533
No let someone else fix this. Im not used to contributing to docs :-)

[2020-03-12 16:35] bacongobbler commented on #536
transferred to helm-www. Feel free to contribute to the documentation to fix this!

https://github.com/helm/helm-www/tree/master/content/en/docs

[2020-03-12 19:56] #533 closed

[2020-03-12 22:46] #469 closed

[2020-03-13 14:51] jayrajput commented on #536
Ok. I will go ahead and submit a Pull Request. How do I test this pull request? Are there some automated test which needs to be run? Can you provide some guidance on the same?

[2020-03-13 14:56] bacongobbler commented on #536
You can test your changes by using `hugo serve`, which will serve up a local site. More info in the README: https://github.com/helm/helm-www/blob/master/README.md#development

[2020-03-14 10:26] jayrajput commented on #536
ok..I am working on it..will send PR today.

[2020-03-14 14:05] jayrajput commented on #536
I submitted a pull request against this bug: https://github.com/helm/helm-www/pull/537. Let me know  how I have done and I can make updates based on the feedback. The code is simple, but I am unsure if I have followed all the process. I did signed the commit as suggested in the guideline. I am still new to this, so need guidance/feedback.

[2020-03-16 14:31] mattfarina commented on #536
Thanks for fixing this.

[2020-03-16 14:31] #536 closed

[2020-03-16 20:24] aThorp96 opened #539 "Docs search not working"
The docs search bar does not currently do anything upon clicking the magnifying glass.

[2020-03-18 15:32] hickeyma commented on #422
I have pushed #542 to cover storage backend section.

[2020-03-18 17:32] #539 closed

[2020-03-18 17:33] #524 closed

[2020-03-19 14:03] mattfarina opened #543 "Search box broken in new theme"
![Screen Shot 2020-03-19 at 10 00 18 AM](https://user-images.githubusercontent.com/62991/77075528-d8ce5d00-69c8-11ea-9fcb-be4f79d314b7.png)

The search box is cut off by the main content.

Observed in Firefox.

[2020-03-21 17:33] lindhe opened #546 "Go deps is not used anymore."
It says in the install docs that "You must have a working Go environment with dep installed". @bacongobbler kindly informed me that helm 3 does not use dep, but mod (which I guess is included in the recent versions of Go?).

https://github.com/helm/helm-www/blob/master/content/en/docs/intro/install.md

[2020-03-23 06:49] hickeyma commented on #546
@lindhe Thanks for raising. Would you like to push a fix for this?

[2020-03-23 12:52] mattfarina commented on #546
#532 was just merged which fixes this problem. Thanks for catching it. I'm glad to know people are reading the docs.

[2020-03-23 12:52] #546 closed

[2020-03-26 12:54] hickeyma commented on #422
@mattfarina PR #542 ready fpr review when you get a chance.

[2020-03-31 09:41] OojaxoO opened #552 "cannot get package helm.sh/helm/v3/*"
package helm.sh/helm/v3/internal/experimental/registry: unrecognized import path "helm.sh/helm/v3/internal/experimental/registry" (parse https://helm.sh/helm/v3/internal/experimental/registry?go-get=1: no go-import meta tags ())
package helm.sh/helm/v3/pkg/chart: unrecognized import path "helm.sh/helm/v3/pkg/chart" (parse https://helm.sh/helm/v3/pkg/chart?go-get=1: no go-import meta tags ())
packa

[2020-03-31 10:54] hickeyma commented on #552
@OojaxoO Can you describe this issue better so we can help you? Also, do you mean to raise it against documentation?

[2020-03-31 10:57] hickeyma commented on #552
Duplicate of https://github.com/helm/helm/issues/7842

[2020-03-31 10:57] hickeyma commented on #552
Closing as this seems to be a duplicate of https://github.com/helm/helm/issues/7842

[2020-03-31 10:57] #552 closed

[2020-04-01 15:46] yardenfi opened #553 "next button in every page"
Hi,
Moving from one page in the docs to the next is very frustrating.
I'm missing two things:
  1. A link in the end of each page directing me to the next page.
  2. A sidebar that can lead to any page. The current sidebar only covers groups of topics and not specific ones.

[2020-04-02 14:18] mattfarina commented on #553
@yardenfi Thanks for the enhancement suggestion.

I think many of us who write the docs and know Helm tend to use it for reference. We can easily forget that folks want to read through the docs as they learn.

[2020-04-06 14:36] SimonHeimberg opened #555 "intro jumps from `helm search hub` to `helm repo add`"
from https://github.com/helm/hub/issues/208#issuecomment-573624005

I guess, currently the only way to find the repo of a chart is to go to https://hub.helm.sh (until https://github.com/helm/helm/issues/7419 is fixed). If I am right, please mention it in the intro.

file to fix: content/en/docs/intro/using_helm.md

[2020-04-06 15:12] mattfarina commented on #555
@SimonHeimberg thanks for catching this. we can definitely make the documentation a little better.

[2020-04-06 17:35] SimonHeimberg commented on #555
I just learnt in https://github.com/helm/helm/issues/7419#issuecomment-609873222 what the url in the output of `helm search hub` is for.  The file `content/docs/helm/helm_search_hub.md` could mention this.
It is mentioned in content/docs/intro/using_helm.md, I found it now when I knew what to search for.

[2020-04-08 07:11] kristinnardal2 commented on #489
I would like to point out that there are functions in helm that are not documented at all. I just made an issue about this in the [helm repo](https://github.com/helm/helm/issues/7888) but maybe it belongs here instead.

[2020-04-09 09:56] hickeyma commented on #489
Thanks to @kristinnardal2 for raising this in https://github.com/helm/helm/issues/7888. Reproducing here to keep the details in the one issue:

https://github.com/helm/helm/blob/b735abe8371359fcf0b37de8014bfafcceb1bcf8/pkg/engine/funcs.go#L50-L57

[2020-04-09 19:28] hickeyma commented on #422
PR #542 now merged covers the backend section.
The SQL backend section was split out into PR #558 during review of #542

[2020-04-14 06:16] sunminjeon opened #571 "Translate content/en/docs/intro/quickstart"
Translate content/en/docs/intro/quickstart in Korean.

Page to Update:
https://helm.sh/docs/intro/quickstart/

[2020-04-14 16:45] mattfarina opened #574 "Error in Active nav item"
When on the charts page the charts and library charts are both listed as active.

![Screen Shot 2020-04-14 at 12 44 28 PM](https://user-images.githubusercontent.com/62991/79251130-c0c5ee00-7e4d-11ea-9e49-1dd1743569e1.png)

[2020-04-16 04:24] sunminjeon commented on #571
/language ko
/assign

[2020-04-17 02:58] niteshagrawalgmail opened #578 "documentation not found"
https://helm.sh/docs/developing_charts/#charts-and-versioning gives 404.

[2020-04-17 07:34] hickeyma commented on #578
@niteshagrawalgmail The links used in the previous documentation don't necessarily still apply. A lot of re-organization of the docs have occurred. The link you are looking for is now: https://helm.sh/docs/topics/charts/#charts-and-versioning

[2020-04-17 07:34] hickeyma commented on #578
Closing as answered.

[2020-04-17 07:35] hickeyma commented on #578
It is worth doing a walk through the [docs](https://helm.sh/docs) to familiarise yourself with the new layout.

[2020-04-17 10:49] mattfarina opened #580 "Remove docs on .Files.GetString"
`.Files.GetString` was removed in https://github.com/helm/helm/pull/1021 but is still listed in the chart docs. It was replaced by `Get`. The docs need to be updated.

[2020-04-17 10:50] mattfarina opened #581 "Add Chart.yaml annotations property docs"
A `Chart.yaml` file can have `annotation` similar to what we have in Kubernetes manifests. These are currently not documented with the details on the `Chart.yaml` files. This should be added.

[2020-04-17 12:59] #578 closed

[2020-04-17 16:00] #543 closed

[2020-04-20 06:55] lindhe opened #583 "Zoom level hides menu items"
I find that menu items in the documentation are hidden when I zoom in. Intuitively I expect to be able to scroll there, but it seems broken.

Very clear to me when being on [this page](https://helm.sh/docs/helm/helm_dependency/#helm) and switching between 100% and 150% zoom level. Using Firefox 75 on Ubuntu with a 1080p screen.

Here's some examples. Note the menu on the left hand side, particular

[2020-04-20 14:00] bacongobbler commented on #505
#564

[2020-04-20 14:00] #505 closed

[2020-04-21 17:38] adampeklay opened #591 "lint documentation needs update for helm v3"
Hi,

the documentation for `helm lint` is outdated as I came across `--with-subcharts` by looking at a separate issue and saw that flag wasn't in the documentation website.

If you look at the output of helm v3.1.2 `helm lint --help` and whats in the documentation for `helm lint` for v3, you'll see the documentation is outdated and needs a quick update.

[2020-04-21 17:46] #583 closed

[2020-04-23 22:07] adampeklay commented on #591
I'll get a PR submitted the proper way, closing!

[2020-04-23 22:07] #591 closed

[2020-04-27 02:31] #571 closed

[2020-04-27 18:04] #580 closed

[2020-04-28 01:16] bridgetkromhout commented on #411
@erpel Thank you again for bringing this to our attention. @mattfarina corrected it in https://github.com/helm/helm-www/pull/464.

[2020-04-28 01:16] #411 closed

[2020-04-28 01:30] bridgetkromhout commented on #497
@mattfarina I've thought about this on and off, and I think if we don't tag docs for every release. then it will be very confusing to people that we have docs for 2.14 and 2.16 (but not 2.15). And we have no way to indicate nuance around changes in docs from 3.0.x to 3.1.x to 3.2.x, etc.

So I think the most sustainable path forward (in terms of what we can realistically accomplish right now) is "

[2020-04-28 02:39] bridgetkromhout commented on #467
@mattfarina would you like to use "Transfer issue" in the lower right to move this issue to helm/helm? Before or after doing that, we could resolve it for now, unless the original requestor wants to provide more info.

[2020-04-28 09:20] planetf1 opened #606 "helm ship bouncing on waves = 100% CPU"
I noticed that if I leave my browser open on helm.sh, that window will spin up to nearly 100% CPU.

This is seen on
 - Safari Tech Preview Release 105 (Safari 13.2, WebKit 15610.1.10)
 - Google Chrome  Version 83.0.4103.23 (Official Build) beta (64-bit)

This is on a macbook pro 15 2016 model (4x2.7 i7)

[2020-04-28 10:13] sunminjeon opened #607 "Translate /docs/using_helm in Korean"
Translate content/en/docs/intro/using_helm in Korean.

Page to Update:
https://helm.sh/docs/intro/using_helm

[2020-04-28 13:52] pjhwa opened #608 "Translate docs/intro/using_helm.md in Korean"
Translate docs/intro/using_helm.md in Korean.

There is no documents of docs/intro/using_helm/ which translated into Korean.

Page to translate: https://helm.sh/docs/intro/using_helm/

[2020-04-28 13:53] pjhwa commented on #608
/assign

[2020-04-28 13:55] pjhwa commented on #608
This document is already translating by #607 .

[2020-04-28 13:55] #608 closed

[2020-04-29 02:49] bridgetkromhout commented on #385
Okay, we've edited the FAQ to clarify this. Thanks, @morremeyer!

[2020-04-29 02:49] #385 closed

[2020-04-29 02:51] bridgetkromhout commented on #433
I've edited this document based on @mattfarina and @bacongobbler's clarifications. Thanks, @tomkivlin!

[2020-04-29 02:51] #433 closed

[2020-04-29 02:55] bridgetkromhout commented on #497
Discussed this with @flynnduism and he's clarified that we _can_ support a range of release versions for the docs, but we'd need to figure out how to update the docs in sync with this. (I know there is a lot of work in the k8s project to update docs when features change.)

[2020-04-29 02:55] #497 closed

[2020-04-29 19:03] flynnduism commented on #497
Thanks for the update in #603! 👏

As you both note here, we haven't had any consistent process around mapping docs to releases. It's certainly doable (more on that below) but ultimately it depends on **whether or not we want to do so**.

Would it be useful for Helm users?
Do people seek out specific versions of Docs beyond v2 and v3?

I can't definitively answer the _why_ - but below have detailed

[2020-05-01 17:01] lou-lan opened #618 "Translate /i18n/zh.toml in Chinese"
Translate /i18n/zh.toml in Chinese

[2020-05-05 19:23] mattfarina opened #624 "Quotes need to be styled"
Below is a screenshot of the security audit results. The middle paragraph is a quote.

![Screen Shot 2020-05-05 at 3 22 29 PM](https://user-images.githubusercontent.com/62991/81106910-57814a00-8ee4-11ea-88e4-cf1aed227edc.png)

This should be styled as a quote.

[2020-05-05 19:29] mattfarina commented on #606
I'll add some additional data to this...

I loaded the homepage in the latest stable safari. It's is using ~38% CPU (as retrieved by Activity Monitor). Below is a picture of the dev tools during initial rendering.

![Screen Shot 2020-05-05 at 3 25 41 PM](https://user-images.githubusercontent.com/62991/81107307-f443e780-8ee4-11ea-8135-07dd8d932cad.png)

The CPU does taper off and if I run the dev t

[2020-05-06 21:41] bridgetkromhout commented on #624
I think what's happening is that the markdown is right, but something in the theme is swallowing the `border-left: $content-blockquote-border-left` element.

[2020-05-07 08:35] sunminjeon commented on #607
This document is already translating #626

[2020-05-07 08:35] #607 closed

[2020-05-07 08:40] sunminjeon opened #627 "Translate docs/howto/chart_repository_sync_example.md in Korean"
Translate docs/howto/chart_repository_sync_example.md in Korean.

There is no documents of docs/howto/chart_repository_sync_example which translated into Korean.

Page to translate: https://helm.sh/docs/howto/chart_repository_sync_example/

[2020-05-07 09:27] planetf1 commented on #606
On safari Version 13.1.1 (15609.2.7.1) I get approx 45% of one cpu when I check now - I've had a slight (beta) update since the above where I saw 100%. It's a 2016 vintage high-end MacBook.  I would still regard it as undesirable though.

[2020-05-08 08:55] oke-py opened #628 "`helm install` & `helm status` output example is output of Helm 2"
`helm install happy-panda stable/mariadb` & `helm status happy-panda` output is old.
The output example should be updated.
https://helm.sh/docs/intro/using_helm/

Helm 2 shows RESOURCES.
[code]

Helm 3 does not show RESOURCES.
[code]

[2020-05-08 11:35] hickeyma commented on #628
Good catch @oke-py. Would you like to fix it? The PR needs to be done in the docs repo in: https://github.com/helm/helm-www/blob/master/content/en/docs/intro/using_helm.md

@helm/helm-core-maintainers Do you mind transferring this issue over to the docs repo? I don't have the rights to do it.

[2020-05-09 04:35] oke-py commented on #628
@hickeyma I opened a PR for this. #630

[2020-05-12 16:03] alstolten opened #635 "lookup function not executed if --dry-run specified"
Hi folks,

took me quite a while to figure out that the lookup (`lookup apiVersion, kind, namespace, name`) function as described [here](https://helm.sh/docs/chart_template_guide/functions_and_pipelines/#using-the-lookup-function) seems not to be executed during a `helm install --dry-run`.

As in that Chapter (and also the ones surrounding)  are describing in good detail all the other concepts I b

[2020-05-12 16:10] bacongobbler commented on #635
This was intended by design. Connections to the Kubernetes API server is not allowed during a dry run. In other words, `lookup` immediately returns.

See https://github.com/helm/helm/issues/7955 and https://github.com/helm/helm/pull/7969 for more details.

[2020-05-12 16:11] bacongobbler commented on #635
PRs welcome to suggest changes to describe the behaviour during a `helm template`, `helm lint` or a `helm install --dry-run`.

[2020-05-14 02:05] zhangqx2010 commented on #618
@lucperkins nice to see you here! 👋 Several fellows here want to translate the doc into Chinese. Do you know is there any Chinese groups are doing this work?

[2020-05-14 02:16] zhangqx2010 commented on #618
Add @zgfh @bei612 here since I may slow response during working hours.

[2020-05-14 03:44] bacongobbler commented on #618
Not that we are aware of at this time!

[2020-05-14 11:37] jdolitsky opened #637 "Better background on using registries"
see https://github.com/helm/helm-www/pull/623#discussion_r422184389

[2020-05-14 23:09] lucperkins commented on #618
@zhangqx2010 Oh hi! So good to hear from you 😄 I think that @bacongobbler, @flynnduism, @bridgetkromhout, and others will have a better sense of which efforts are currently underway. But from @bacongobbler it sounds like the path is clear. So glad that you all want to contribute!

[2020-05-15 18:21] flynnduism commented on #618
+1 @zhangqx2010 any translations would be very welcome. ❤️

I can help if you have any questions or issues with working on the site! There's a guide here regarding [Contributing Translated Content](https://helm.sh/docs/community/localization/#translating-content) which is a good start.

[2020-05-17 02:14] zhangqx2010 commented on #618
Thanks @flynnduism. We will submit one proposal(mostly process) for Chinese translation in issue so that we can cut down overlap between two individual's work as much as possible.
I used to contribute to k8s docs. But these days I am really busy with company stuff so most of the translation work will probably be done with the fellows. @bei612 @zgfh will be the main contacts here. While I'd love to

[2020-05-17 12:38] zhangqx2010 opened #643 "Chinese(ZH) translation"
Suggestions for ZH translation:

1. one issue for one document, issue/pr title: [ZH] /path/to/file, when ready to pick one doc, create an issue first.
2. Before you pick one for translation, check issues to avoid duplicated work.
3. Please create PR after finishing translation within one week. If one issue created without PR within one week. Others can pickup and translate instead.
4. Preserve ori

[2020-05-17 12:52] zgfh commented on #643
lgtm

[2020-05-17 13:02] zhangqx2010 commented on #643
Some conventions needs to be defined so that translation will be uniformed throughout the whole site. Also others like what words should not be translated etc.

[2020-05-19 14:29] dejfh opened #644 "Link to 'Helm Upgrade' is missing in navigation"
Navigation is missing `Helm Upgrade`. I would have expected it between `Helm Uninstall` and `Helm Verify`:
![image](https://user-images.githubusercontent.com/5569332/82338558-56c0db80-99ed-11ea-8c0a-bde2fa6dfcd3.png)

[2020-05-21 16:45] bacongobbler opened #645 "add admonition support"
Hugo has support for Admonitions: https://gohugo.io/contribute/documentation/#admonitions

Not sure if we have support for that in helm's hugo theme, but it would be great to have that. The use case for this would be to put tips in the notes, like making a note of what Helm release a particular feature was published.

[2020-05-26 22:36] jgreat commented on #635
The documentation for `lookup` could use a warning that it will return an empty map if you use `--dry-run`.

I just lost a couple of hours trying to troubleshoot why I wasn't getting objects back in my chart.

[2020-05-26 22:43] bacongobbler commented on #635
@jgreat sorry for the trouble. That's a great suggestion. Would you like to contribute that to the documentation? It's available here if you'd like to suggest any edits to the docs:

https://github.com/helm/helm-www/blob/master/content/en/docs/chart_template_guide/functions_and_pipelines.md#using-the-lookup-function

[2020-05-27 08:45] alstolten commented on #635
I gave it a try in #649.

[2020-05-27 08:51] alstolten commented on #635
Just saw that @jgreat already did some work. Sorry for that, I did not mean to interfere.

[2020-05-27 11:52] #635 closed

[2020-05-28 21:06] agamezg opened #658 "404 Error"
trying to navigate from [this tutorial](https://dzone.com/articles/configuring-java-apps-with-kubernetes-configmaps-a) to this link -> https://helm.sh/docs/developing_charts/ and it throw me a 404 respose

[2020-05-28 21:13] flynnduism commented on #658
Thanks for reporting @agamezg.

The tutorial was written for Helm v2. The url structures changed when Helm 3 launched in late 2019. The document that throws that 404 can be found here:

[https://v2.helm.sh/docs/developing_charts/ ](https://v2.helm.sh/docs/developing_charts/)

---

I will look at adding a redirect rule to the site to avoid more people hitting 404s.

[2020-06-02 21:01] jdolitsky opened #661 "Document precedence of --set / -f flags"
The `--set` flag always take precedence over `-f` flag no matter the order in which they are provided on the command line.

The order is in code but not yet documented: https://github.com/helm/helm/blob/03ccd5dea2516e5da275653aa4485064377a7fd5/pkg/cli/values/options.go#L41-L86

[2020-06-02 22:15] bacongobbler commented on #661
Hi @jdolitsky. The order and precedence is documented with `helm help install`, and is available here: https://github.com/helm/helm/blob/03ccd5dea2516e5da275653aa4485064377a7fd5/cmd/helm/install.go#L46-L68

Documented here: https://helm.sh/docs/helm/helm_install/

is there another location this should be documented?

[2020-06-03 07:16] hickeyma commented on #661
This part of the doc seems to contradict that: https://helm.sh/docs/chart_template_guide/values_files/

[2020-06-03 14:28] mattfarina commented on #489
I'm working on a document with all the functions. It's quite a large list.

[2020-06-05 22:11] Asday opened #670 "The "Need Helm?" link on chart pages is a 404."
https://hub.helm.sh/charts/weblate/weblate/0.1.8, in the install pane on the right, at the bottom.  The link goes to `https://github.com/helm/helm/blob/master/docs/quickstart.md`, which is a 404.

[2020-06-05 22:18] bacongobbler commented on #670
Hi there! This repository is for the helm website, helm.sh. Can you please open a ticket over at https://github.com/helm/hub? Thank you!

Closing

[2020-06-05 22:18] #670 closed

[2020-06-05 22:36] Asday commented on #670
Appreciated - I don't know the repos so well it seems.  :)

[2020-06-08 16:06] mattfarina opened #674 "Correct release process to document branch push for patches"

[2020-06-08 16:11] mattfarina opened #675 "Clear up ambiguity in release checklist"
The release checklist is not clear and has some issues. If you are familiar with it you skip around. If you aren't  familiar with it the flow is difficult to follow. We should break the documentation up into a few sections.

1. Prerequisites one needs to release
2. Major/minor releases
3. Patch releases

The two sections on each type of release should document the complete flow.

[2020-06-08 20:25] bridgetkromhout commented on #675
Now that we document version support info in the docs (https://helm.sh/docs/topics/version_skew/) we should add a step for updating https://github.com/helm/helm-www/blob/master/content/en/docs/topics/version_skew.md in the case of major & minor releases.

[2020-06-08 20:54] bridgetkromhout commented on #675
The release checklist should also include a version bump for the relevant section of the website config, like in https://github.com/helm/helm-www/pull/676.

[2020-06-09 16:21] #628 closed

[2020-06-09 16:47] bridgetkromhout commented on #644
Hi, @dejfh - I navigated to https://helm.sh/docs/ and clicked "Helm Commands" in the left sidebar, and then scrolled down inside the sidebar. I am able to see the expected output:

![image](https://user-images.githubusercontent.com/2104453/84176325-d2d79d80-aa46-11ea-8548-020838e7310a.png)

Can you let me know what path you followed to find the menu with the missing item? That might allow us to re

[2020-06-09 17:12] bridgetkromhout commented on #316
The page in question is at https://v2.helm.sh/docs/helm/ now and still has this problem. In the original source it has underscores, and something in the site build is turning them into dashes:

https://github.com/helm/helm/blame/dev-v2/docs/helm/helm.md#L25-L36

[2020-06-09 17:59] #644 closed

[2020-06-09 17:59] bacongobbler commented on #644
this was fixed in #669.

[2020-06-10 00:53] johngmyers opened #683 "Docs site has unusable formatting"
The Helm docs site is presenting information in an unusably large font.

![Screen Shot 2020-06-09 at 5 46 55 PM](https://user-images.githubusercontent.com/1760720/84215083-15669d80-aa7a-11ea-82d4-b63bb52425a4.png)

Firefox 77.0.1 on MacOS 10.14.6

[2020-06-10 01:50] flynnduism commented on #683
Hi @johngmyers thanks for flagging this.

Looks like you're getting the mobile version of the site. Normally this happens when when the window width is less than 1024px, it switches from desktop to mobile mode.

I will take a look at the mobile settings, perhaps it's being applied too soon. In the meantime I suggest checking the browser zoom level and window size so that you get the desktop layout

[2020-06-10 11:32] sishbi opened #686 "Issue with imagePullSecret template"
The imagePullSecret was missing the username, password and email fields within the 'auths' object.
Please see PR #685 for details.

[2020-06-10 17:22] tammersaleh opened #687 "improve language-switching behavior"
When I click on the FAQ link in the left sidebar, which sends me to https://helm.sh/docs/faq/, I'm redirected to https://helm.sh/ko/docs/faq/ instead (in Korean, not English).  If I use the language chooser at the top of the page to switch back to English, I'm still redirected to the Korean translation.

[2020-06-15 23:16] #687 closed

[2020-06-15 23:17] bridgetkromhout commented on #686
Thanks for opening this issue! The PR you submitted has been merged.

[2020-06-15 23:17] #686 closed

[2020-06-15 23:19] bridgetkromhout commented on #574
I am able to reproduce this. I don't see an obvious configuration choice in the frontmatter, so I'm guessing that this is in the theme.

[2020-06-16 18:18] bridgetkromhout commented on #316
Verified that https://v2.helm.sh/docs/helm/ shows the correct content now.

[2020-06-16 18:18] #316 closed

[2020-06-16 19:11] bridgetkromhout commented on #658
I was wrong to assert that https://github.com/helm/helm-www/pull/698 would entirely solve this - we need the redirection to go to the v2 link: https://v2.helm.sh/docs/developing_charts/ - @flynnduism, can you address that case too? Thanks!

[2020-06-16 21:34] bridgetkromhout opened #704 "investigate build failure"
I asked @flynnduism why https://deploy-preview-702--helm-merge.netlify.app/docs/ had the correct versions in the dropdown while they were not yet updated in https://helm.sh/docs/. He found an issue with Netlify where the previews and production builds differ, leading to the possibility of successful previews and then failed production builds. He will investigate.

[2020-06-17 14:18] mattfarina opened #706 "Document functions"
There are several functions you can use in Helm charts that need to be documented including tuple, include, and tpl.

[2020-06-17 14:24] #512 closed

[2020-06-17 14:40] mattfarina commented on #704
I found that there is a difference between building a preview and for production. On preview `make build-preview` is run and for master/production it's `make build`. For former works on the tip of master while the latter does not.

[2020-06-17 14:57] mattfarina commented on #704
Continuing my investigation... it appears that `hugo serve` works as well. There is something different internally going on in the way it handles URLs. I've not looked at the hugo source.

[2020-06-17 15:07] #704 closed

[2020-06-17 15:08] Redeux opened #709 "Add the Terraform Helm provider to docs/community/related/#additional-tools"
I'd like to add the [Terraform Helm provider](https://github.com/hashicorp/terraform-provider-helm) to docs/community/related/#additional-tools.  I'm happy to submit a PR to add it, but I'd like to make sure it's welcome before doing that.  Thanks!

[2020-06-17 15:20] bacongobbler commented on #709
yes! That page is dedicated for promoting third party tools like the terraform helm provider.

[2020-06-17 17:18] #553 closed

[2020-06-17 17:19] bridgetkromhout commented on #553
Thanks, @yardenfi. We've added in-section links at the bottom of each page, which should help here. We welcome additional feedback.

[2020-06-17 17:22] bridgetkromhout commented on #512
Thanks again for your feedback, @fdavis99. We've added links and a short description as suggested, and welcome further input on improving the docs.

[2020-06-17 21:18] #658 closed

[2020-06-17 21:20] bridgetkromhout commented on #658
Thanks for your feedback, @agamezg - we've now fixed this and related issues.

[2020-06-17 22:52] agamezg commented on #658
Your welcome, good to know it was useful

El mié., 17 jun. 2020 a las 18:21, Bridget Kromhout (<
notifications@github.com>) escribió:

[2020-06-18 13:29] phroggyy commented on #637
One thing I realised while talking to @hickeyma was that the docs I submitted in #623 are a bit off as the example used there is `nginx:1.10`, this won't work since nginx is not a helm Chart, so we could update any references I've made to nginx to match the existing registry docs with `localhost:5000/myrepo/mychart:2.7.0`.

Commenting here just to have a record of it.

[2020-06-18 13:30] hickeyma commented on #637
Yeah, I think the docs could do with improvement especially for people new to registries.

[2020-06-22 16:14] bridgetkromhout commented on #709
Hi, @Redeux - please do go ahead and open a PR! Thanks.

[2020-06-22 16:14] #709 closed

[2020-06-22 16:27] plynch76 opened #721 "Go libs cannot be found"
When trying to "go get" helm libraries, the process fails because it cannot find
helm.sh/helm/v3/pkg/chart/loader

[2020-06-22 16:35] mattfarina commented on #721
@plynch76 Can you provide the `go get` command you are using? What response are you getting? I'm unable to replicate the problem.

[2020-06-22 17:27] plynch76 commented on #721
go get
go get -insecure
Both commands return:
unrecognized import path "helm.sh/helm/v3/pkg/chart/loader": reading https://helm.sh/helm/v3/pkg/chart/loader?go-get=1: 404 Not Found

[2020-06-22 21:24] bridgetkromhout commented on #443
Hi, @chainhead! Thanks for pointing out the ambiguity. The installation command was already corrected (by including the generated name); I am correcting the rest of this issue with https://github.com/helm/helm-www/pull/723.

[2020-06-22 23:35] #443 closed

[2020-06-23 13:01] thefreeeman opened #726 "Helm init documentation missing"
Documentation is missing:
https://helm.sh/docs/helm/helm_init/

[2020-06-23 13:02] thefreeeman commented on #726
Apparently the documentation has been removed, so closing this issue.
https://github.com/helm/helm/issues/6996#issuecomment-582066606

[2020-06-23 13:02] #726 closed

[2020-06-23 13:18] hickeyma commented on #726
FYI @thefreeeman, `helm init` does not exist in Helm 3. This is because you don’t need to install Tiller in the cluster and set up a Helm state before using Helm.

v2 docs: https://v2.helm.sh/docs/helm/#helm-init

[2020-06-23 16:27] mattfarina commented on #721
@plynch76 What are you trying to `go get`?

For example, are you running `go get helm.sh/helm/v3` or are you doing something else? I'm not entirely sure of the context. For instance, in a Go project I work on I just ran `go get helm.sh/helm/v3/pkg/chart/loader` and it added the package without any issue.

[2020-06-23 17:03] plynch76 commented on #721
In the go project I am working on, I am running a go get
helm.sh/helm/v3/pkg/chart/loader and getting the 404 error. I just tried as
well and got the error message. It used to work until a few weeks ago, but
I sometimes have issues with go get and other packages but those cleared
up. This one has been unreachable for a while now.

On Tue, Jun 23, 2020 at 12:27 PM Matt Farina <notifications@github.

[2020-06-23 17:58] bacongobbler commented on #721
@plynch76 try the following:

[code]

It's also important to keep in mind that you should be using go modules instead of `go get`. Example shown below...

[code]

More detail as to why this occurs is explained below.

I started by trying to reproduce this from a clean state, and was able to reproduce the same issue @plynch76 reported:

[code]

Fetching the root package works for me, however.

[cod

[2020-06-23 19:47] plynch76 commented on #721
Thanks all....converting my project to go modules seems to have fixed the
problem. :)

On Tue, Jun 23, 2020 at 1:58 PM Matthew Fisher <notifications@github.com>
wrote:

[2020-06-23 19:51] #721 closed

[2020-06-24 13:00] #674 closed

[2020-06-24 13:07] mattfarina opened #728 "Document $ in flow control"
When the `with` or `range` functions are used `.` changes its value. If one needs to access the root data object they need to use `$` instead. This should be documented in the flow control docs at https://helm.sh/docs/chart_template_guide/control_structures/

[2020-06-29 12:30] pankajme7 commented on #728
@mattfarina Yes, use of .  changes the value. Should I add this information under "Modifying scope using with" subsection.

[2020-06-29 14:49] BlindedByTheLight opened #734 "Helm Issue #81 follow-up request"
* Brand elements should work equally in light or dark modes (aka can invert)
May 2019

I would truly appreciate the ability to view the helm.sh site in Chrome://flags dark-mode.
It is a beautiful, well crafted site, but to those of us who use dark-mode, the blazing white is taxing on the eyes.
Any seconds on that?

[2020-06-29 16:02] mattfarina commented on #728
@pankajme7 sure. Please also talk about it in loops where the same thing happens.

[2020-06-29 17:26] bhartshorn opened #735 "get.helm.sh returns invalid etag header"
Hi there. I suspect this is the wrong place to report this bug. Hopefully you can point me the right direction.

I am trying to automate updating helm versions, and hoped to use curl with etag support to skip downloading from `get.helm.sh` if the file hasn't changed. It looks like `get.helm.sh` returns an etag header without surrounding double-quotes, i.e. `etag: 0x8D8117F40DD72AC`, which is inval

[2020-06-29 17:30] bacongobbler commented on #735
Hi @bhartshorn. get.helm.sh is backed by Azure CDN and is separate from the helm-www project.

Do you have suggestions how we can fix this, given this is a service provided by Azure CDN?

[2020-06-29 17:31] bacongobbler commented on #735
for reference: https://docs.microsoft.com/en-us/azure/cdn/cdn-verizon-premium-rules-engine-reference-features

[2020-06-29 17:46] bhartshorn commented on #735
@bacongobbler I figured it was separate. This stuff is definitely not in my wheelhouse, but it looks like an etag value can be set for specific files served by the CDN? https://docs.microsoft.com/en-us/azure/cdn/cdn-manage-expiration-of-cloud-service-content#setting-cache-control-headers-programmatically

Perhaps this value is set somewhere during the release process, but is missing the quotes?

M

[2020-06-29 18:13] bacongobbler commented on #735
Here's where we upload the release assets to get.helm.sh: https://github.com/helm/helm/blob/395d494cd493698141f3e834957b6923a331a769/.circleci/deploy.sh#L49

Reference to the optional parameters for `az storage blob upload-batch`, including some which appear to modify etag headers: https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload-batch-optional-p

[2020-06-30 16:00] pankajme7 commented on #728
@mattfarina
I have done the changes as mentioned above. I have pushed it to a branch in my forked project. https://github.com/pankajme7/helm-www/commit/5342cc3b55daa223e03f4444a5dcbb4ff97240ad

Can you please guide me on how I can create PR for the same and link it with this issue.

[2020-06-30 20:37] bridgetkromhout commented on #734
Follow-up on https://github.com/helm/community/issues/81.

[2020-07-01 15:26] mattfarina commented on #728
@pankajme7 The GitHub docs do have a good guide on turning a branch into a PR [here](https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request). Just make sure your commits have git signoff (this is different from crypto signing) using the --signoff flag. This is for the DCO.

[2020-07-01 16:14] pankajme7 commented on #728
@mattfarina
Thanks for the help. I have created a PR for the same.

[2020-07-01 18:20] bridgetkromhout opened #738 "standardize on console instead of shell"
As discussed in https://github.com/helm/helm-www/pull/732#discussion_r448437222, we propose standardizing on "shell" instead of "console" throughout the docs. This is a minor change for consistency and should not materially affect display.

[2020-07-05 06:31] jlosito opened #741 "Improve site on mobile"
It’s difficult to select the hamburger menu icon in the upper right hand corner on mobile with the BLM banner in the way on the main page. Would it be possible to add a button to either hide the message or raise/overlay the hamburger menu icon so that the menu icon and the BLM messages are both displayed?

I’m trying to view on site on an iPhone 7.

[2020-07-06 15:47] flynnduism commented on #741
Thanks for the issue @jlosito. Work to correct this is under way via #705

[2020-07-06 19:00] bridgetkromhout commented on #683
In progress via https://github.com/helm/helm-www/pull/705.

[2020-07-06 19:03] bridgetkromhout commented on #728
Thanks, @pankajme7! We'll wait for @mattfarina to confirm that this issue is resolved.

[2020-07-06 20:25] bridgetkromhout commented on #738
After looking more at the docs, I begin to think it would be clearer and less confusing for the reader if they see a `$` everywhere they're expected to type something. This means we'd want to use "console".

Example:
[code]

Using "shell" gives less-formatted output on github:

[code]

GitHub renders this differently than we do on the website: https://github.com/helm/helm-www/blob/master/content/e

[2020-07-06 22:17] bridgetkromhout opened #745 "adjust formatting of nested-list output"
When @bacongobbler improved the docs at https://helm.sh/docs/chart_template_guide/function_list/#printf he noticed that Hugo's formatting is different from github's for nested lists.

Here's GitHub:
![image](https://user-images.githubusercontent.com/2104453/86655322-3c968900-bfac-11ea-86ed-a51e5d22545b.png)

But Hugo adds a slightly confusing newline:
![image](https://user-images.githubusercontent

[2020-07-07 03:38] pankajme7 commented on #728
Welcome, @bridgetkromhout

[2020-07-08 15:13] bridgetkromhout commented on #738
When @mattfarina is available it would be good to get his input here.

[2020-07-08 15:23] hickeyma commented on #738
My experience with markdown is console and `$`.  For example:

[code]

[2020-07-08 16:33] bacongobbler commented on #738
For some historical reference...

The triple backtick convention was not a Markdown standard at first. Github expanded upon the Markdown spec and introduced the triple backtick for github comments to embed console output in a comment. This was commonly referred to as "Github-flavoured markdown".

Their convention was

[code]

For shell sessions.

`shell` was introduced for shell scripts. If you're

[2020-07-08 16:47] hickeyma commented on #738
I agree, horses for courses @bacongobbler. For example, `yaml` for yaml and `shell` for scripts.

I thought @bridgetkromhout is looking at standard format for commands here but maybe I read it wrong.

[2020-07-08 21:04] flynnduism commented on #266
Here's a [CSV](https://dl3.pushbulletusercontent.com/oGX3L5XEwEy41Wyw5gECN4pfeEKM3hyo/BH4D9OD16A_helm_20200508-20200708_popular_searches.csv) of search data from the last 90 days.

---

Top 25 searches at a glance:

<img width="895" alt="Screen Shot 2020-07-08 at 1 55 46 PM" src="https://user-images.githubusercontent.com/686194/86969517-c9635300-c122-11ea-8909-bc8933ad88a8.png">

[2020-07-10 23:07] bridgetkromhout commented on #738
Thanks, @bacongobbler. I have changed examples taking place in terminal sessions from `shell` to `console` in this PR; I think that is in line with the info you're providing. I am not sure if I saw any shell scripts in my perusal of the docs.

[2020-07-14 02:15] bridgetkromhout commented on #675
When I tried breaking the patch release process into its own section, I found I was duplicating a lot of content between the major/minor section and the patch section.

So instead, I tried to label sections more clearly in https://github.com/helm/helm-www/pull/749/ and make it more obvious what path to follow.

Input welcome.

[2020-07-14 17:37] flynnduism commented on #266
Adding to this, here is recent (3 month) user search data which returned **no results** on the site. ([full CSV](https://dl3.pushbulletusercontent.com/0OnOl6HuZctL6VddoEmQqfSJxBH2Cdef/BH4D9OD16A_helm_20200514-20200714_no_result_searches.csv)).

I'm tagging this as a `good first issue`, it would be great if any contributors could add context around these subjects. Adding notes, redirects or backgro

[2020-07-14 17:57] bacongobbler commented on #266
Thanks for the reporting here, @flynnduism.

I checked a few of the search topics in here. A couple of these search topics all relate to function calls available in Helm's template calls. tojson, b64enc, concat, haskey, trimsuffix and randalphanum all resolve to their function definitions, so that knocks a few off the list.

if you search for "image pull secrets" instead of "imagepullsecrets", htt

[2020-07-15 19:52] mattfarina commented on #728
The PR satisfied what I was looking for.

[2020-07-15 19:52] #728 closed

[2020-07-24 13:38] TBBle opened #755 "Document the adopt-marked-kubectl-resources-on-install behaviour"
https://github.com/helm/helm/pull/7649 added a behaviour to Helm 3.2.0 where an install that would have otherwise failed because of pre-existing resources, can succeed by replacing such resources, if they have metadata that matches that `helm install` execution, i.e. annotations for `meta.helm.sh/release-name` and `meta.helm.sh/release-namespace`, and a label `app.kubernetes.io/managed-by: Helm`.

[2020-07-27 15:59] hickeyma commented on #755
/cc @jlegrone Could you provide some input to this?

[2020-08-12 21:59] bridgetkromhout opened #770 "using a table format in blog posts?"
Hi, @flynnduism - this is not time-sensitive, but it occurred to me that I should ask: how do I make a table like the one in https://helm.sh/blog/helm-v2-deprecation-timeline/ look more like the one in https://github.com/helm/charts/blob/master/README.md#deprecation-timeline - I would like to turn the table border on, and perhaps even alternating colors in the rows. I'm not sure if we would need t

[2020-08-13 06:43] karenhchu opened #771 "Add "next page" button to blog"
It's not obvious that the current arrow at the bottom of the blog page is to go to the next page of blogs (the UX with the "1" to the right of the arrow made me think there was only 1 page of blogs). Can we add some text to make it more obvious where people should click for older blog posts?

[2020-08-17 08:10] lindhe opened #773 "Link to test docs becomes Japanese"
For me, the "[(view test docs)](https://helm.sh/docs/chart_tests/)" link on [this page](https://helm.sh/docs/topics/charts_hooks/#the-available-hooks) leads me to the [Japanese page](https://helm.sh/ja/docs/topics/chart_tests/) instead of the [English page](https://helm.sh/docs/topics/chart_tests/).

But it seems fine in the markdown...

https://github.com/helm/helm-www/blob/4395c5f74cbde485392255

[2020-08-18 13:41] mattfarina commented on #771
Good catch

I would suggest "previous" be added as well when not on the first page. The arrow is small. Might also do something with the arrows that's easier to notice.

[2020-08-18 13:43] mattfarina commented on #773
Good catch, thanks.

[2020-08-18 13:50] mattfarina opened #775 "Add CI Job to catch translation aliases"
Translations cannot have aliases. When they do it causes issues, like #773, where the translation alias overrides the english one and no english content is served.

This issue has happened several times, already.

We should add a CI job to catch aliases and, if they exist, fail for translations.

[2020-08-19 19:59] #773 closed

[2020-08-24 13:04] mattfarina opened #779 "Remove XDG from plugin docs"
The plugin documentation refers to XDG locations. We should replace this with Helm environment variables.

See https://helm.sh/docs/topics/plugins/

[2020-08-25 18:01] #779 closed

[2020-08-26 00:22] bridgetkromhout commented on #675
Hi, @mattfarina - checking in with you, as you opened this issue; do we have additional ambiguity in https://helm.sh/docs/community/release_checklist/ that you'd like to address? Or are we at a place where we can resolve this issue? Thanks.

[2020-08-26 13:52] yardenshoham opened #783 "Missing documentation of helm fetch command"

[2020-08-26 13:55] yardenshoham commented on #783
Never mind it's `helm pull`.

[2020-08-26 13:55] #783 closed

[2020-08-28 17:22] marckhouzam commented on #336
With the merging of https://github.com/helm/helm/pull/8638, we have a way forward to fix this issue in the docs.

The docs could be improved by replacing code refs to XDG_ paths with something like:
[code]

[2020-09-11 16:27] bridgetkromhout commented on #487
Possibly related: how do we handle translations of the auto-generated docs? See https://github.com/helm/helm-www/pull/802 and https://github.com/helm/helm-www/pull/807.

[2020-09-11 18:20] bridgetkromhout commented on #487
Related to https://github.com/helm/helm/issues/6592.

[2020-09-15 00:33] bridgetkromhout commented on #738
I'm closing this issue because of the differences in Hugo vs GitHub markdown's display pointed out by @mattfarina - more details in https://github.com/helm/helm-www/pull/744#issuecomment-692389360.

[2020-09-15 00:33] #738 closed

[2020-09-17 01:34] markruler opened #829 "Add untranslated copies"
[code]

If someone doesn't add a copy, there is inconvenience because they keep changing languages to read documents through "Quicklinks". I think the UI should be changed or someone should add untranslated copies.

![tg_image_722502575](https://user-images.githubusercontent.com/38225900/93406710-4fdaa480-f8cb-11ea-8d6a-b0e1b349bde8.jpeg)
![tg_image_2070649359](https://user-images.githubuserconten

[2020-09-17 08:01] sunminjeon opened #832 "Translate docs/helm/helm_completion.md in Korean."
Translate docs/helm/helm_completion.md in Korean.

There is no documents of docs/helm/helm_completion translated into Korean.

Page to translate: https://helm.sh/docs/helm/helm_completion/

[2020-09-17 11:49] markruler opened #834 "Translate docs/faq/_index.md into Korean"
Translate docs/faq/_index.md into Korean.

Page to translate: https://helm.sh/docs/faq

[2020-09-19 16:13] markruler opened #842 "Translate CONTRIBUTING.md into Korean"
I think this document should be translated (`CONTRIBUTING-ko.md`) because it contains content different from `docs/community/localization.md` document.

[2020-09-20 14:27] shuuji3 opened #843 "Translate docs/faq/ into Japanese"
Currently, the following FAQ page has not been translated:

- [Frequently Asked Questions | Helm | Docs](https://helm.sh/docs/faq/)

Since this page has not been translated, the link to this page is not shown on the side menu and Japanese users cannot notice the existence of this page now. This should be fixed soon to help users understand Helm 3.

[2020-09-21 03:59] shuuji3 commented on #843
At first, I've translated only section headers and a few short sections by #845.

Please use this issue as an umbrella issue for Japanese translation for the FAQ page. Create a new issue and/or PR for new translation of some sections and link it to this issue.

## Sections to be translated

- [x] Headers (#845)
- [ ] Helm 2 からの変更点
  - [ ] Tiller の削除
  - [ ] アップグレード戦略の改善: 3方向戦略的マージパッチ (3-way Strate

[2020-09-21 06:05] shuuji3 opened #846 "Translate community/localization/ into Japanese"
The following page has not been translated into Japanese.

- [Helm | Localizing Helm Documentation](https://helm.sh/docs/community/localization/)

This is an important entry point to the localization of the documentation.

I'm going to translate the page.

[2020-09-22 01:58] bluefriday opened #847 "Translate docs/helm/helm_lint.md in Korean"
Translate docs/helm/helm_lint.md into Korean.

There is no document about docs/helm/helm_lint in Korean.

- https://helm.sh/docs/helm/helm_lint/

[2020-09-22 01:58] bluefriday commented on #847
/assign

[2020-09-22 02:14] bluefriday opened #849 "Translate /docs/topics/chart_tests/ into Korean"
Translate /docs/topics/chart_tests into Korean.
- https://helm.sh/docs/topics/chart_tests/

[2020-09-22 02:14] bluefriday commented on #849
/assign @bluefriday

[2020-09-22 02:42] bluefriday opened #851 "Translate /docs/chart_best_practices into Korean"
There is no index for 'chart_best_practices' and sub documents in Korean
- https://helm.sh/docs/chart_best_practices/

---

메뉴 중 'Best Practice' 에 대하여 해당 항목 자체가 한글화가 되어있지 않은 것 같습니다.
해당 항목 및 항목 하위의 파일에 대하여 번역해보겠습니다.
(항목 하위의 파일의 경우 길어질 경우 소제목만 번역하도록 하겠습니다.)

[2020-09-22 02:42] bluefriday commented on #851
/assign @bluefriday

[2020-09-22 02:44] #851 closed

[2020-09-22 21:29] bridgetkromhout commented on #829
What most people have been doing is adding a page when needed for links, and translating the headers on that page. This is better than adding dozens or hundreds of pages at once. Does that make sense?

[2020-09-23 02:28] bluefriday opened #852 "Translate /docs/chart_best_practices/values into Korean"
There are untranslated parts in this document.
- https://helm.sh/docs/chart_best_practices/values/

[2020-09-23 02:28] bluefriday commented on #852
/assign
/assign bluefriday

[2020-09-23 02:35] #829 closed

[2020-09-23 02:47] markruler opened #854 "Translate README.md into Korean"
https://github.com/helm/helm-www/blob/master/README.md

This will help the Korean contributors understand how to contribute.

[2020-09-24 02:33] bluefriday opened #856 "Translate /docs/chart_best_practices/templates into Korean"
There are untranslated parts in this document.
- https://helm.sh/docs/chart_best_practices/templates/

[2020-09-24 02:33] bluefriday commented on #856
/assign
/assign bluefriday

[2020-09-24 02:53] #856 closed

[2020-09-24 02:56] bluefriday opened #858 "Translate /docs/chart_best_practices/_index.md into Korean"
There is no document about  /docs/chart_best_practices/_index.md in Korean

[2020-09-24 02:56] bluefriday commented on #858
/assign
/assign @bluefriday

[2020-09-24 04:12] bluefriday opened #860 "Translate /docs/helm/helm_version command in Korean"
There is no docs about docs/helm/helm_version command.
- https://helm.sh/docs/helm/helm_version/

[2020-09-24 04:12] bluefriday commented on #860
/assign
/assign @bluefriday bluefriday

[2020-09-24 04:30] bluefriday opened #862 "Translate topic : "Migrating Helm v2 to v3" into Korean."
There is no docs about "Migrating Helm v2 to v3" in Korean
- https://helm.sh/docs/topics/v2_v3_migration/

[2020-09-24 04:30] bluefriday commented on #862
/assign
/assign @bluefriday

[2020-09-24 05:37] rvkamath opened #863 "Helm lookup function returns map instead of nil during --dry-run"
Helm Version : v3.2.0
Kubectl Version : Client - "v1.18.0" , Server - "v1.16.8"

I plan to make use of `lookup` function to detect if some resources(like secrets) are present in the cluster before deploying my chart and throw a warning on something missing.
From a note in doc "Keep in mind that Helm is not supposed to contact the Kubernetes API Server during a helm template or a helm install|updat

[2020-09-24 14:11] mattfarina commented on #863
@rvkamath thanks for filing the issue. This is an issue in the docs. An empty map is returned.

Note, I moved this to the repo with the docs so we can address it here.

You can use the `len` function on the response from `lookup` to see if there is any response with the name. Would that work?

[2020-09-24 15:28] #863 closed

[2020-09-29 14:01] rvkamath commented on #863
Thanks @mattfarina for fixing the doc.

About the len function on lookup, i checked it returns 0 on --dry-run and also if the object is not found. Is there a way to detect if the helm command execution is a --dry-run? If yes, i can exclude the invocation of lookup in that phase. I checked the built-in objects but could not find anything.

[2020-09-29 23:58] gajus opened #872 "Document that alias do not work"
It would have saved me an entire day if Helm documentation stated that alias do not work.

A simple note here https://helm.sh/docs/topics/charts/#the-chartyaml-file would do.

For reference: https://github.com/helm/helm/issues/7093#issuecomment-701055080

[2020-09-30 17:24] mattfarina opened #873 "Document fromYaml"
While I was working on https://github.com/helm/helm/issues/8832 I realized I could not find docs on fromYaml

[2020-10-06 03:59] #842 closed

[2020-10-10 17:27] kevindong commented on #606
To add on, the entire website is just laggy in general which is kinda ridiculous considering that this is meant to be a static documentation website.

Aesthetics are certainly worth something, but it shouldn't get in the way of functionality.

[2020-10-16 14:53] mattfarina opened #898 "Document examples and tools for running a chart repo"
We should provide some practical examples for running a chart repo in various places such as GitHub pages, Gitlab, object storage, etc.

[2020-10-16 14:56] chhanz opened #899 "Translate docs/helm/helm_completion_bash/zsh.md into Korean"
translate docs/helm/helm_completion_bash/zsh.md into Korean.

- /docs/helm/helm_completion_bash.md
- /docs/helm/helm_completion_zsh.md

There is no docs about docs/helm/helm_completion_bash/zsh.md command.

https://helm.sh/docs/helm/helm_completion_bash/
https://helm.sh/docs/helm/helm_completion_zsh/

[2020-10-16 14:56] chhanz commented on #899
/assign

[2020-10-16 14:57] bacongobbler commented on #898
There are some outdated examples available here: https://helm.sh/docs/topics/chart_repository/#github-pages-example

A HOWTO or a tutorial is always great.

[2020-10-21 17:07] bacongobbler commented on #872
Generally speaking, we do not place information on specific bug reports in the documentation. The maintenance hassle required to PR a "bug report" to the documentation, constantly update it when new information becomes available, then close or remove those admonitions have been known to be difficult to maintain.

The only information we have placed in the documentation related to known issues is i

[2020-10-21 17:07] #872 closed

[2020-10-22 01:28] #899 closed

[2020-10-22 18:30] mik-laj opened #903 "Add values.schema.json to the best practices"
Hello,

I think it is worth adding to good practice creating [values.schema.json](https://helm.sh/docs/topics/charts/#schema-files) file. This file allows us to validate the values.yaml file structure.

This may also be a good way to create documentation in the future. https://github.com/helm/helm/issues/8920

Related page: https://helm.sh/docs/chart_best_practices/values/

Best regards,
Kamil Bre

[2020-10-23 20:05] kaxil commented on #903
Agreed, this would be a good addition

[2020-10-23 20:59] #854 closed

[2020-10-26 03:02] bluefriday opened #904 "[ko] Translate "topics / chart hooks" into Korean"
There is no docs about "topics / chart hooks" in Korean

https://helm.sh/docs/topics/charts_hooks/

[2020-10-26 03:02] bluefriday commented on #904
/assign
/assign @bluefriday

[2020-10-27 02:46] bluefriday opened #907 "[ko] Translate "topics / release policy" into Korean"
There is no docs about topics/release_policy

https://helm.sh/docs/topics/release_policy/

[2020-10-27 02:47] bluefriday commented on #907
/assign
/assign @bluefriday

[2020-10-27 03:35] bluefriday opened #909 "[ko] Translate "topics / deprecated kubernetes APIs" into Korean"
There is no docs about "topics/deprecated kubernetes APi"

https://helm.sh/docs/topics/kubernetes_apis/

[2020-10-27 03:35] bluefriday commented on #909
/assign
/assign @bluefriday

[2020-10-27 08:02] bluefriday opened #912 "[ko] Translate "topics / RBAC(Role-based Access Control)" into Korean"
There is no docs about topics/rbac in Korean
- https://helm.sh/docs/topics/rbac/

[2020-10-27 08:02] bluefriday commented on #912
/assign
/assign @bluefriday

[2020-10-27 19:45] samirotiv opened #914 "Docs: Console error showing up in Chrome"
When I try opening the page located at [https://helm.sh/docs/topics/](https://helm.sh/docs/topics/) using Chrome, I get the error as shown in the screenshot.

Additionally, the page entries do not seem to show up under each section in the left navigation bar.

It seems to work fine in Firefox. I've double checked that there's no interfering plugin - tried in incognito as well. Also tried flushing

[2020-10-28 14:48] mattfarina commented on #914
Note to those trying to test... I could not reproduce this on Mac. It needs to be tested on Windows as that's where it was experienced.

[2020-10-28 16:31] samirotiv commented on #914
Thanks Matt. That's right, just to be sure, I've also tested it from a different computer with an almost-fresh install of Windows. I can also reproduce the same error on the new Microsoft Edge, which is based on Chrome.

[2020-10-28 16:36] samirotiv commented on #914
With some digging on the net, I think this may help.

- [https://jelaniharris.com/2014/fixing-foundation-5s-unrecognized-expression-syntax-error/](https://jelaniharris.com/2014/fixing-foundation-5s-unrecognized-expression-syntax-error/)
- [https://github.com/foundation/foundation-sites/issues/5486](https://github.com/foundation/foundation-sites/issues/5486)
- [https://github.com/foundation/foundat

[2020-10-28 16:36] bacongobbler commented on #914
I can confirm that this error also occurs on MS Edge.

[2020-10-28 16:40] bacongobbler commented on #914
Looks like the site is using foundation 5.5.3, which does line up with some of the bug reports @samirotiv listed earlier.

https://github.com/helm/helm-www/blob/37fd13eaec7874e2d5e7c5b71738183670c90f89/themes/helm/assets/js/foundation.js#L303

I think the theme is well due for an update on its dependencies.

[2020-10-29 02:44] bluefriday opened #918 "[ko] Translate "topics / Advanced Helm Techniques" into Korean"
There is no docs about "topics / Advanced Helm Techniques" .
- https://helm.sh/docs/topics/advanced/

[2020-10-29 02:44] bluefriday commented on #918
/assign
/assign @bluefriday

[2020-10-30 15:55] flynnduism commented on #914
The Helm 2 site used the [Foundation 5](https://get.foundation/sites/docs-v5/) framework (css grid, js components like dropdown menus), but for Helm 3 the site was rewritten in [Bulma](https://bulma.io/).

The `foundation.js` should be removed from the site - I'm reviewing the site JS to make sure it's fully removed and that these elements work ok without it:

- [ ] dropdowns (version menu, langua

[2020-10-31 01:25] #834 closed

[2020-11-06 02:09] bluefriday opened #932 "[ko] Translate topics/provenance in Korean"
There is no docs about topics/provenance in Korean.

[2020-11-06 02:09] bluefriday commented on #932
/assign
/assign @bluefriday

[2020-11-06 02:09] bluefriday commented on #932
https://helm.sh/docs/topics/provenance/

[2020-11-06 02:09] bluefriday commented on #932
https://helm.sh/docs/topics/provenance/

[2020-11-06 03:06] bluefriday opened #934 "[ko] Translate helm command: upgrade into Korean"
There is no docs about helm upgrade command in Korean
I will translate it.

[2020-11-06 03:06] bluefriday commented on #934
https://helm.sh/docs/helm/helm_upgrade/

[2020-11-06 03:07] bluefriday commented on #934
/assign
/assign bluefriday

[2020-11-06 04:48] bluefriday opened #936 "[ko] Translate blog (Helm Hub Moving To Artifact Hub) into korean"
There is no docs about blog : Helm Hub Moving To Artifact Hub in Korean
I would like to translate into korean.

[2020-11-06 04:48] bluefriday commented on #936
https://helm.sh/blog/helm-hub-moving-to-artifact-hub/

[2020-11-06 04:48] bluefriday commented on #936
/assign
/assign bluefriday

[2020-11-06 05:13] bluefriday opened #938 "[ko] Translate blog (helm turns five) into korean"
There is no docs about 'blog : helm turns five' in korean
I would like to translate into korena.

[2020-11-06 05:13] bluefriday commented on #938
/assign
/assign bluefriday

[2020-11-06 05:14] bluefriday commented on #938
https://helm.sh/blog/helm-turns-five/

[2020-11-10 01:39] bluefriday opened #941 "[ko] Translate Topic - helm plugin into korean"
There is no docs about topic/helm's plugin in korean.
So I'll translate it :ㅇ

[2020-11-10 01:39] bluefriday commented on #941
/assign
/assign bluefriday

[2020-11-10 01:39] bluefriday commented on #941
https://helm.sh/docs/topics/plugins/

[2020-11-10 03:16] bluefriday opened #943 "[ko] Translate helm command : helm test into Korean"
There is no docs about helm test command in korean

[2020-11-10 03:16] bluefriday commented on #943
/assign
/assign bluefriday

[2020-11-10 03:16] bluefriday commented on #943
https://helm.sh/docs/helm/helm_test/

[2020-11-11 01:13] bluefriday opened #945 "[ko] Translate community/developer_guides into Korean"
There is no docs about community/deveoloper_guides in korean.

[2020-11-11 01:13] bluefriday commented on #945
/assign
/assign @bluefriday

[2020-11-11 01:13] bluefriday commented on #945
https://helm.sh/docs/community/developers/

[2020-11-11 06:21] bluefriday commented on #945
@jmnote @jmyung  리뷰 부탁드립니다.

[2020-11-17 01:41] jeremygaither commented on #741
It is nearly impossible to make the current site scroll on Safari iOS 14.2 due to the hovering elements (top hamburger). It will scroll and bounce back to the prior position. Sometimes it will scroll if hitting the side of the page just right and then again in the center of the page.

[2020-11-17 20:33] philomory commented on #489
@mattfarina is there a particular branch I could follow the progress of this one (and possibly contribute to)?

[2020-11-17 21:15] bacongobbler commented on #489
I believe we can close this. This has been documented in https://helm.sh/docs/chart_template_guide/function_list/.

[2020-11-17 21:15] #489 closed

[2020-11-18 07:07] kristinnardal2 commented on #489
I recently saw this on the Helm documentation, thanks for doing this!

[2020-11-18 18:13] philomory commented on #489
There's several important functions that are not documented, still; should I open a separate issue for those?

[2020-11-19 01:39] jkleckner commented on #489
This is definitely an improvement, thanks.

It would have been nice to have a pure compact alphabetical list of one-liners that point into the more detailed descriptions which would serve as an index.

But definitely an improvement.

[2020-11-20 12:42] cvvz opened #958 "[ZH] Translate docs/intro/using_helm.md into Chinese"

[2020-11-20 12:43] cvvz commented on #958
/assign

[2020-11-27 02:01] bluefriday opened #960 "[KO] Translate community/release_checklist into Korean"
There is no docs about community/release_checklist into korean.

[2020-11-27 02:01] bluefriday commented on #960
/assign
/assign @bluefriday

[2020-11-27 02:01] bluefriday commented on #960
https://helm.sh/docs/community/release_checklist/

[2020-11-30 01:52] bluefriday opened #962 "[KO] Translate "docs/chart_template_guide/function_list" into Korean"
There is no docs about docs/chart_template_guide/function_list in korean.

[2020-11-30 01:52] bluefriday commented on #962
/assign
/assign @bluefriday

[2020-11-30 01:52] bluefriday commented on #962
https://helm.sh/docs/chart_template_guide/function_list/

[2020-12-01 21:23] craiglpeters opened #965 "Use a helm repo that is not full of deprecated charts as the example"
It feels strange to point to https://charts.helm.sh/stable in https://helm.sh/docs/intro/quickstart/#initialize-a-helm-chart-repository as it is full of charts marked DEPRECATED. It is confusing to a first time user. Should probably just stick the boring/canonical ngnix-ingress chart example and add https://helm.nginx.com/stable

[2020-12-01 21:32] bridgetkromhout commented on #965
Thanks! Many places in the docs need to be updated (this all changed in mid-November).

[2020-12-02 23:45] bridgetkromhout commented on #849
I'm closing this issue as it appears it is a tracking issue for a PR which has been merged. Thanks!

[2020-12-02 23:45] #849 closed

[2020-12-02 23:48] bridgetkromhout commented on #846
This page has been translated to Japanese: https://github.com/helm/helm-www/pull/920 - please submit additional translations as desired! Thanks.

[2020-12-02 23:48] #846 closed

[2020-12-02 23:49] bridgetkromhout commented on #847
Merged - thanks!

[2020-12-02 23:49] #847 closed

[2020-12-02 23:49] bridgetkromhout commented on #858
Merged - thanks!

[2020-12-02 23:49] #858 closed

[2020-12-02 23:52] bridgetkromhout commented on #675
As we've changed the release checklist significantly, and run through it several times now, I'm going to resolve this issue. Please re-open with more detail, @mattfarina, if you see more work to be done on the release checklist. Thanks!

[2020-12-02 23:52] #675 closed

[2020-12-02 23:52] bridgetkromhout commented on #904
Thanks!

[2020-12-02 23:52] #904 closed

[2020-12-02 23:59] bridgetkromhout commented on #96
As this issue has remained open for over a year without updates, I'm going to resolve it at this time. @rimusz please do PR in a Helm3 architecture diagram into the docs, if you would like. Thanks for the idea!

[2020-12-02 23:59] #96 closed

[2020-12-03 00:00] bridgetkromhout commented on #943
Thanks!

[2020-12-03 00:00] #943 closed

[2020-12-03 00:00] bridgetkromhout commented on #918
Thanks!

[2020-12-03 00:00] #918 closed

[2020-12-03 00:00] bridgetkromhout commented on #912
Thanks!

[2020-12-03 00:00] #912 closed

[2020-12-03 00:00] bridgetkromhout commented on #909
Thanks!

[2020-12-03 00:00] #909 closed

[2020-12-03 00:00] bridgetkromhout commented on #907
Thanks!

[2020-12-03 00:00] #907 closed

[2020-12-03 00:00] bridgetkromhout commented on #862
Thanks!

[2020-12-03 00:00] #862 closed

[2020-12-03 00:01] bridgetkromhout commented on #860
Thanks!

[2020-12-03 00:01] #860 closed

[2020-12-03 00:01] bridgetkromhout commented on #852
Thanks!

[2020-12-03 00:01] #852 closed

[2020-12-03 02:44] bluefriday commented on #943
Thanks for your kindness.
Next time, I will close my merged issue : D

[2020-12-03 02:52] bluefriday opened #967 "[KO] Translate "command/helm_list" into Korean"
There is no docs about "helm command - helm list" in Korean

[2020-12-03 02:53] bluefriday commented on #967
https://helm.sh/docs/helm/helm_list/

[2020-12-03 02:53] bluefriday commented on #967
/assign
/assign @bluefriday

[2020-12-03 03:26] bluefriday opened #969 "[KO] Translate "command/helm_rollback" into Korean"
There is no docs about command/helm_rollback in Korean

[2020-12-03 03:26] bluefriday commented on #969
https://helm.sh/docs/helm/helm_rollback/

[2020-12-03 03:26] bluefriday commented on #969
/assign
/assign @bluefriday

[2020-12-03 05:19] bluefriday opened #971 "[ko] Translate "command/helm_history" into Korean"
There is no docs about "helm command : helm history" in Korean

[2020-12-03 05:20] bluefriday commented on #971
https://helm.sh/docs/helm/helm_history/

[2020-12-03 05:20] bluefriday commented on #971
/assign
/assign @bluefriday

[2020-12-03 05:23] bluefriday opened #973 "[ko] Translate "command/helm_template" into Korean"
There is no docs about "helm command : helm template" in Korean

[2020-12-03 05:23] bluefriday commented on #973
/assign
/assign @bluefriday

[2020-12-03 05:23] bluefriday commented on #973
https://helm.sh/docs/helm/helm_template/

[2020-12-03 09:38] bluefriday opened #977 "[ko] Translate "command/helm_repo" and releated docs" into Korean"
There is no docs about helm repo in Korean

I'll translate follow docs.

helm - command : helm repo
helm - command : helm repo add
helm - command : helm repo index
helm - command : helm repo list
helm - command : helm repo remove
helm - command : helm repo update

[2020-12-03 09:39] bluefriday commented on #977
/assign
/assign @bluefriday

[2020-12-03 09:39] bluefriday commented on #977
https://helm.sh/docs/helm/helm_repo/

[2020-12-04 00:58] bluefriday opened #979 "[ko] Translate "command/helm_plugin" and releated docs" into Korean"
There is no docs about helm command : helm plugin in Korean

[2020-12-04 00:58] bluefriday commented on #979
/assign
/assign @bluefriday

[2020-12-04 00:59] bluefriday commented on #979
- https://helm.sh/docs/helm/helm_plugin/
- https://helm.sh/docs/helm/helm_plugin_install/
- https://helm.sh/docs/helm/helm_plugin_list/
- https://helm.sh/docs/helm/helm_plugin_uninstall/
- https://helm.sh/docs/helm/helm_plugin_update/

[2020-12-04 05:01] bluefriday opened #981 "[ko] Translate "command/helm_dependency" and releated docs" into Korean"
There is no docs about helm dependency of helm command in Korean

[2020-12-04 05:02] bluefriday commented on #981
/assign
/assign @bluefriday

[2020-12-04 05:02] bluefriday commented on #981
- https://helm.sh/docs/helm/helm_dependency/
- https://helm.sh/docs/helm/helm_dependency_build/
- https://helm.sh/docs/helm/helm_dependency_list/
- https://helm.sh/docs/helm/helm_dependency_update/

[2020-12-04 05:25] bluefriday opened #983 "[ko] Translate "command/helm_search" and releated docs" into Korean"
There is no docs about helm search of helm command in Korean

[2020-12-04 05:26] bluefriday commented on #983
https://helm.sh/docs/helm/helm_search/
https://helm.sh/docs/helm/helm_search_hub/
https://helm.sh/docs/helm/helm_search_repo/

[2020-12-04 05:26] bluefriday commented on #983
/assign
/assign @bluefriay

[2020-12-04 20:35] bridgetkromhout commented on #979
Thanks!

[2020-12-04 20:35] #979 closed

[2020-12-04 20:36] bridgetkromhout commented on #971
Thanks!

[2020-12-04 20:36] #971 closed

[2020-12-04 20:37] bridgetkromhout commented on #936
Thanks!

[2020-12-04 20:37] #936 closed

[2020-12-09 00:56] bluefriday opened #992 "[ko] Translate "blog/2020-10-26-new-location-stable-incubator-charts" into Korean"
There is no docs about "blog/2020-10-26-new-location-stable-incubator-charts" in Korean

[2020-12-09 00:56] bluefriday commented on #992
https://helm.sh/blog/new-location-stable-incubator-charts/

[2020-12-09 00:56] bluefriday commented on #992
/assign
/assign @bluefriday

[2020-12-09 02:17] bluefriday opened #994 "[ko] Translate "blog/charts-repo-deprecation/" into Korean"
There is no docs about blog/charts-repo-deprecation/ in Korean.

[2020-12-09 02:17] bluefriday commented on #994
https://helm.sh/blog/charts-repo-deprecation/

[2020-12-09 02:17] bluefriday commented on #994
/assign
/assign @bluefriday

[2020-12-11 17:23] bridgetkromhout commented on #934
Thanks!

[2020-12-11 17:23] #934 closed

[2020-12-11 17:24] bridgetkromhout commented on #938
Thank you!

[2020-12-11 17:24] #938 closed

[2020-12-14 14:41] kmindi opened #997 "mergeOverwrite documentation unclear about sideeffects"
The documentation suggests that only the `newdict` is created, yet the function in fact changes the passed `$dest` as well. This is not clearly visible from the description of this function and should be added.

E.g. a developer understands a function `f(a,b) -> c` that `a` and `b` are read and only `c` is something new/created/calculated.

Side effects are dangerous and must be clearly communicat

[2020-12-14 20:27] bridgetkromhout commented on #932
Thanks!

[2020-12-14 20:27] #932 closed

[2020-12-14 20:35] bridgetkromhout commented on #997
The docs in question: https://github.com/helm/helm-www/blob/master/content/en/docs/chart_template_guide/function_list.md#mergeoverwrite-mustmergeoverwrite

I see this line about `dest` being overwritten; is that where it's unclear? How would you suggest rewording it? Thanks.

[2020-12-14 20:39] bacongobbler commented on #997
It is also worth noting that this documentation is ripped straight from Sprig's documentation. So any changes that need to be clarified here should also be provided upstream.

https://github.com/Masterminds/sprig/blob/master/docs/dicts.md#mergeoverwrite-mustmergeoverwrite

[2020-12-15 09:27] kmindi commented on #997
@bridgetkromhout the line you mentioned is ambiguous: Yes it says that "effectively overwriting values in the dest dictionary", which can mean two things:
1. that the returned dictionary of the mergeOverwrite function contains all the entries from `dest` overwritten with the values from all `source`s
2. that the dictionary passed to the mergeOverwrite function will be overwritten in-place with the

[2020-12-31 16:57] davidpelfree opened #1002 "Consider using Docsy theme or alike for Hugo, to make navigation in site much easier"
Hi.

It's very difficult to me to keep orientation while browsing Helm Docs site.
There is no full detailed TOC on the left sidebar (using Chrome, on Firefox it works), nor "in page anchor index" at the right sidebar.

Looking at Kubernetes site, it's much easier to navigate the site and know exactly where you are in the documentation: left sidebar with detailed TOC and right sidebar with in-page

[2021-01-04 17:44] glenjamin opened #1003 "How/why do backends contain sensitive data?"
In the section on storage backends
https://github.com/helm/helm-www/blob/master/content/en/docs/topics/advanced.md#storage-backends

There is the following warning

However it is unclear _why_ the release information might contain sensitive data. Is this because it stores the contents of charts and values files, and those could contain anything, or is it for some other reason?

The reason for this

[2021-01-04 20:49] bacongobbler commented on #1003
Your assumption about charts and values being stored in the release metadata is correct.

You can create a separate role for reading secrets, but for obvious reasons that is not provided in the default read role. I believe the documentation describes how to create such a “secret-reader” role if desired.

keep in mind that read access does provide those users access to chart values and manifests, w

[2021-01-04 20:50] bacongobbler commented on #1003
https://github.com/helm/helm-www/blob/master/content/en/docs/topics/rbac.md

[2021-01-04 21:39] glenjamin commented on #1003
Ok, thanks - I'll send a PR tomorrow which expands the docs a little bit with this clarification

[2021-01-08 18:07] glenjamin commented on #1003
Would it be possible to split apart the storage of the sensitive and non-sensitive parts of helm's data? I can open an issue for that in the right place if it's something that might be considered.

Right now it feels awkward that I require `read` access to secrets in order to run simple commands like `helm list`, `helm history` or `helm status`.

[2021-01-11 22:40] #1003 closed

[2021-01-11 22:41] bridgetkromhout commented on #1003
Hi, @glenjamin - thanks for your PR to clarify the docs; I've merged it, which closed this issue. If you'd like to propose discussion about splitting the way data is stored, https://github.com/helm/helm/issues/new is a good place for that. Thanks!

[2021-01-14 18:06] dwj300 opened #1007 "helm install example uses a racially loaded term"
The [Using Helm](https://helm.sh/docs/intro/using_helm/#helm-install-installing-a-package) docs (which are excellent!) use an example of installing `stable/mariadb` for `helm install` which reference a master and slave, which are racially loaded terms. The chart should be fixed as well (and I plan to submit an issue upstream), but in the mean time could the helm community consider using a differen

[2021-01-20 19:56] Vaccano opened #1008 "Docs: Summary for "Values Files" is incorrect"
This page:  https://helm.sh/docs/chart_template_guide/

Has in the  list an entry called `Values Files`.  It has the description: _Instructions on how to use the --values flag._

However, the page it links to does not include the text `--values` in it anywhere.  It does seem to be about "Values Files", but does not indicate anything about the `--values` flag.

NOTE: I am learning Helm and trying t

[2021-01-21 10:37] alexrashed commented on #903
I also agree that this would be a nice addition.
In fact, it would be nice if the docs would contain some best practices for the `values.schema.json` itself.
For example:
* Do not use `additionalProperties: false` on `global` values. (Since the validation would fail if other global values are set for different a different chart)
* The `default` value should only be used with actually usable values

[2021-01-26 18:36] bacongobbler commented on #1008
https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing

[2021-01-27 16:29] #1007 closed

[2021-01-27 16:32] bridgetkromhout commented on #1007
Thanks, @dwj300! Please do submit issues and PRs for any other necessary updates, and we'll keep improving together.

[2021-01-27 18:14] bridgetkromhout commented on #994
Thanks!

[2021-01-27 18:14] #994 closed

[2021-01-27 18:20] bridgetkromhout commented on #992
Thanks!

[2021-01-27 18:20] #992 closed

[2021-01-27 18:27] bridgetkromhout commented on #977
Thanks!

[2021-01-27 18:27] #977 closed

[2021-01-27 18:34] bridgetkromhout commented on #832
Thanks!

[2021-01-27 18:34] #832 closed

[2021-01-27 18:39] bridgetkromhout commented on #983
Thanks!

[2021-01-27 18:39] #983 closed

[2021-01-27 20:31] bridgetkromhout commented on #962
Thanks!

[2021-01-27 20:31] #962 closed

[2021-01-27 20:36] bridgetkromhout commented on #967
Thanks!

[2021-01-27 20:36] #967 closed

[2021-01-27 20:40] bridgetkromhout commented on #973
Thanks!

[2021-01-27 20:40] #973 closed

[2021-01-27 20:42] bridgetkromhout commented on #981
Thanks!

[2021-01-27 20:42] #981 closed

[2021-01-27 20:44] bridgetkromhout commented on #969
Thanks!

[2021-01-27 20:44] #969 closed

[2021-01-27 21:13] bridgetkromhout commented on #960
Thanks!

[2021-01-27 21:13] #960 closed

[2021-01-27 22:22] bridgetkromhout commented on #945
Thanks!

[2021-01-27 22:22] #945 closed

[2021-01-27 22:22] bridgetkromhout commented on #941
Thanks!

[2021-01-27 22:22] #941 closed

[2021-01-27 22:23] bridgetkromhout commented on #643
This issue doesn't seem to need further action; thanks!

[2021-01-27 22:23] #643 closed

[2021-01-27 22:24] bridgetkromhout commented on #627
The translation now exists. Thanks!

[2021-01-27 22:24] #627 closed

[2021-01-27 22:25] bridgetkromhout commented on #618
Thanks for getting this started!

[2021-01-27 22:25] #618 closed

[2021-01-28 00:53] bridgetkromhout commented on #1002
Thanks for the feedback! We'll take a look.

[2021-01-28 00:54] bridgetkromhout commented on #958
Thanks!

[2021-01-28 00:54] #958 closed

[2021-01-28 01:15] flynnduism commented on #1002
Docsy is solid theme for building out Hugo documentation sites. I've used it on some [recent projects](https://docs.openservicemesh.io/docs/) ([source](https://github.com/openservicemesh/osm/tree/main/docs)) and it works well specifically for docs.

The Helm site is essentially three different sites in one - landing page (intro/marketing) blog page for comms and then the documentation section (whi

[2021-02-01 23:56] bridgetkromhout commented on #574
I still see this issue happening when I navigate to https://helm.sh/docs/topics/charts/

[2021-02-04 20:04] jdolitsky opened #1015 "Host chartmuseum.com?"
The source for chartmuseum.com is located here: https://github.com/chartmuseum/www

That domain name is owned by me and DNS configured in a personal account. Can we get this transferred to wherever helm.sh lives, and also follow the same release process as helm-www? It is also a hugo site

cc @bridgetkromhout

[2021-02-04 21:49] bridgetkromhout commented on #1015
Thanks, @jdolitsky! This sounds like a useful plan that we will follow up on.

[2021-02-06 01:18] bridgetkromhout commented on #843
Thanks for getting us started, @shuuji3! At this point if anyone wants to submit more translations, we welcome that. Thanks.

[2021-02-06 01:18] #843 closed

[2021-02-06 01:23] bridgetkromhout commented on #278
Do we want to follow up at this point with trying to define in CODEOWNERS the people who are allowed to edit the website vs the blog? Or do we think the current LGTM process is covering it? or some other option I haven't outlined? Thanks.

[2021-02-10 23:12] Kunamatata opened #1018 "Helm Rollback Documentation - Explicitly define 0"
I was going through the documentation for `helm rollback` and it seems like providing `0` as the second argument is also equivalent to omitting the second argument. Would it be valuable to update the documentation to specify the `0` option being the same as omitting the second argument?

https://github.com/helm/helm-www/blob/83e7f82a9f0f6ca959da8131b1b3701b1b501fa5/content/en/docs/helm/helm_rollba

[2021-02-16 07:37] thernstig opened #1020 "Docs: Helm template function and "must" versions of functions"
https://helm.sh/docs/chart_template_guide/function_list/ has many `must` versions of functions, such as `mustRegexMatch` vs. `regexMatch`. The [docs](https://helm.sh/docs/chart_template_guide/function_list/#regexmatch-mustregexmatch) reads:

As many of the function has these `must` equivalents it might be a good idea to explain somewhere in the docs what the above means, potentially with an exampl

[2021-02-16 12:21] mattfarina commented on #1020
@thernstig That's a good idea. I've moved the issue to the repository that holds the docs. It has less traffic and will hopefully be more likely to get attention.

[2021-02-17 08:32] thernstig commented on #1020
@mattfarina Thanks. Is there any chance you would know if `must` is preferred?

[2021-02-23 20:25] tigran-a opened #1025 "typo isKind -> kindIs"
Here:
https://github.com/helm/helm-www/blame/master/content/en/docs/chart_template_guide/function_list.md#L1785
should be isKind

(not creating a pull request because of singoff policy)

[2021-02-23 20:45] bacongobbler commented on #1020
Depends on the situation, really. Some cases would prefer an error when the regular expression does not match with the given pattern. Other times it's okay for no matches to be returned. Both will return an error if the regular expression fails to compile.

[2021-02-23 21:52] #1025 closed

[2021-02-24 07:41] thernstig commented on #1020
I see. I would have guessed that in the above case, if a user inserts an incorrect `.Values.currentDate` it would have been nicest to use the `mustToDate` still. The reason being, otherwise the Helm is installed with an unexpected value for the user.

But I agree it is situational still, and many might not agree with me there.

[2021-02-26 15:11] ByoungJoonIm opened #1030 "[ko] Translate "/docs/topics/charts/" into Korean"
Titles have been translated only. I would like to continue translation about contents.

[2021-02-26 15:11] ByoungJoonIm commented on #1030
https://helm.sh/ko/docs/topics/charts/

[2021-02-26 15:14] ByoungJoonIm commented on #1030
/assign @ByoungJoonIm

[2021-02-28 09:42] FlymeDllVa opened #1032 "[ja] menu climbs out"
Safari 3072 × 1920
<img width="1785" alt="Снимок экрана 2021-02-28 в 12 41 56" src="https://user-images.githubusercontent.com/33265875/109414139-5add4900-79c2-11eb-82e2-6f9c8c837cb4.png">

[2021-03-01 22:33] WoLpH commented on #683
Since it's often useful to have the documentation open next to a shell session I regularly run into this. My laptop's display is 2048 pixels width so half a screen is roughly 1024 pixels.

Given the size of the font relative to the display it doesn't seem useful over ~650 pixels or something.

[2021-03-04 17:52] sbose78 opened #1033 "CI Best Practices with Helm"
How do we use the Helm CLI in an efficient way on a typical CI like Github Actions?

[2021-03-05 16:38] caniszczyk commented on #1015
@jdolitsky can we transfer the domain over to CNCF and to our netlify group?

[2021-03-05 17:31] jdolitsky commented on #1015
@caniszczyk - yes, happy to do so. I can unlock it and provide transfer code etc.

[2021-03-08 14:38] reitzig commented on #903
My personal take on this:

As far as I can determine, `helm` validates the _merged_ values (`values.yaml` + `-f` + `--set`) against the JSON Schema. As such, I believe the correct answer is your first option.
However, this has "ugly" consequences for tooling: worst case, IDEA (for instance) won't show either of `values.yaml` or `-f`-injected files as valid.

Ran into this as well. Unset values wor

[2021-03-11 02:03] tastypackets commented on #1032
Similar issue on FireFox, but it's appears to be effected by the viewport size. Reducing the horizontal size of viewport eventually gets it back in line. This image is taken on 1440p.
![image](https://user-images.githubusercontent.com/20361796/110724573-a15d4f80-81db-11eb-869e-2845e91518b0.png)

[2021-03-11 02:47] #914 closed

[2021-03-17 18:35] jdolitsky commented on #1015
This has been successfully transferred and hosted in the Helm Netlify account! https://chartmuseum.com/

[2021-03-17 18:35] #1015 closed

[2021-03-25 11:32] veikoon commented on #1008
Values files are used to override default configuration of your chart. When you are installing a new chart you can use the command helm install -f yourfile.yaml
Or : helm install --values yourfile.yaml
In order to use your custom config

[2021-03-26 09:32] jsshinn opened #1052 "[ko] missing reference in content/ko/docs/intro/quickstart.md"
A reference md file "using_helm.md" should be added in content/ko/docs/intro/quickstart.md

[2021-03-26 18:22] bridgetkromhout commented on #1052
Thanks!

[2021-03-26 18:22] #1052 closed

[2021-03-30 08:06] jsshinn opened #1056 "[ko] typo and italic font in content/ko/docs/intro, chart_best_practices"
found some korean typos and error in italic font

[2021-03-30 15:55] bridgetkromhout commented on #1056
Thanks for the fix!

[2021-03-30 15:55] #1056 closed

[2021-04-01 13:07] matt-mazzucato opened #1060 "Docs: behavior of templated CRDs"
In the scope of the project I'm working on I'm developing a chart which is responsible for installing some CRDs, RBACs and a deployment (i.e. an Operator which controls the actual instances of the CRDs. The actual custom resources are installed in a further step). The CRDs are contained in the `templates` folder and, as such, they allow for the substitution of custom values in dedicated placeholde

[2021-04-19 16:56] bacongobbler commented on #278
I believe the conversation had to do with:

- who can approve/merge certain translations
- who can approve/merge changes to the site theme
- who can approve/merge blog posts
- who can approve/merge changes to the documentation

Maintainers of the helm-www project may be able to fulfill only a few of those roles. For example, I cannot review changes to the Russian locale.

The current LGTM process

[2021-04-23 12:21] HamzaZo opened #1079 "New helm plugin - official doc"
Hello!
I create a new helm v3 plugin to help the community to fetch values from an older release.  [helm-val](https://github.com/HamzaZo/helm-val)

I would like to know what are the criteria to add a plugin to the official [documentation](https://helm.sh/docs/community/related/#helm-plugins)?

Thanks

[2021-04-23 16:19] bacongobbler commented on #1079
transferred to helm-www.

[2021-04-26 08:19] HamzaZo commented on #1079
Thanks @bacongobbler for your answer

[2021-04-26 13:32] bridgetkromhout commented on #1079
Thanks, @HamzaZo!

[2021-04-26 13:32] #1079 closed

[2021-04-29 15:56] SimonAlling opened #1086 "Outdated docs about directory name constraint"
Under [Best Practices / General Conventions / Chart Names](https://helm.sh/docs/chart_best_practices/conventions/#chart-names), this constraint on chart directory names is described:

However, it was removed in https://github.com/helm/helm/pull/4141, so I believe the documentation source [here](https://github.com/helm/helm-www/blob/2875cecd9b1b8b6290e9fee595e288807f033eb5/content/en/docs/chart_bes

[2021-05-05 12:31] raesene opened #1090 "Consider adding checksum/signature validation to the script install process"
The [from script installation method](https://helm.sh/docs/intro/install/#from-script) involves downloading and running a script to install helm.

At the moment there's no mention in the documentation of checking the hash of the script or having a signature on the script to ensure it's validity. this could leave users of Helm at risk if an attacker was able to compromise the system hosting the scr

[2021-05-06 14:58] svityashchuk opened #1091 "Docs: i18n menu is broken in nav-fixed.html"
There is an issue with language switcher when on scroll.
The `nav-fixed.html` template is displayed when page scrolled down.
And in that template few lines was commented in PR #1074 . I suppose that was done for testing purposes and just needs to be uncommented.

![image](https://user-images.githubusercontent.com/11519148/117318115-ccd68080-ae92-11eb-81eb-c785896fbadc.png)

[2021-05-06 16:04] flynnduism commented on #1091
Thanks @svityashchuk - I will correct this!

[2021-05-07 15:31] bacongobbler commented on #1091
fixed in #1092.

[2021-05-07 15:31] #1091 closed

[2021-05-07 15:38] bacongobbler commented on #965
fixed in #1017. When the helm/examples repo is ready, we can replace the current examples with that one. But #1017 removes the deprecation warnings for first-time users so this gets us hobbling along.

[2021-05-07 15:38] #965 closed

[2021-05-19 09:32] bridgetkromhout commented on #1030
Thanks! It appears this page's translation is complete.

[2021-05-19 09:32] #1030 closed

[2021-05-19 09:36] bridgetkromhout commented on #1086
Hi, @SimonAlling! Thanks; you are correct. Would you like to submit a PR to change this documentation? Appreciated.

[2021-05-20 07:11] SimonAlling commented on #1086
Yes, I would. I'll give it a shot as soon as I have time.

[2021-05-20 12:21] imrui opened #1109 "timescaledev/timescaledb-ha:pg11-ts1.7"

[2021-05-20 12:21] #1109 closed

[2021-05-20 14:49] fbuetler opened #1110 "The documentation about "Subcharts and Global Values" should not produce linting errors"
## Description

I followed the guide about [Subcharts and Global Values](https://helm.sh/docs/chart_template_guide/subcharts_and_globals/) until the end and run `helm lint`. This produced the following linting error:
[code]
Adding the following to `/tmp/mychart/Chart.yaml` solved the linting error, but IMO the guide should mention that since it should introduce best practices.
[code]
[code]

## Ve

[2021-05-20 16:27] bacongobbler commented on #1090
Fair enough. That sounds like a reasonable request. Note that there are also flags in the script that can verify the release signatures for you as well (assuming you verified that you receive the correct script).

Feel like taking a crack at documenting this?

[2021-05-21 14:35] #1086 closed

[2021-05-28 08:26] daitangio commented on #683
By the way, I have trouble to print the documentation too:
- the menu did not disappear
- ouput is too big and code examples are trimmed
How we can fix it (**I can work on it if you give me some hints on which CSS hack**)?

[2021-06-01 10:52] AssafKatz3 opened #1122 "Common Helm Helper Chart point to archived"
Hi,

The [section](https://helm.sh/docs/topics/library_charts/#the-common-helm-helper-chart) point to [incubator](https://github.com/helm/charts/tree/master/incubator/common) which it was archived. I have no idea to where (if any) it was moved.

Thanks

[2021-06-01 11:11] hickeyma commented on #1122
@AssafKatz3 That chart is still in the repo but the repo is now deprecated and no longer maintained. You can pull down the chart using `helm pull` command and use it.

Thanks for raising this @AssafKatz3 as I think we should update this section to mentioned that the repo is now deprecated archived.

[2021-06-04 13:54] AahanSingh opened #1123 "Tutorial uses a wrong key value pair in the manifest for configmaps."
Hi,
While trying out the tutorial on the following sections:
- https://helm.sh/docs/chart_template_guide/control_structures/#ifelse
- https://helm.sh/docs/chart_template_guide/control_structures/#controlling-whitespace

the configmap has the key value pair `mug: true`. Running with `helm install --dry-run --debug ./mychart` there is no problem but without the `--dry-run --debug` flags, kubernetes

[2021-06-05 07:34] AahanSingh commented on #1123
I have created the PR here https://github.com/helm/helm-www/pull/1124

[2021-06-07 14:12] mikeshng opened #1126 "crds folder limitation of "--dry-run" flag for "helm install" and "helm upgrade" not actually mentioned in the command documentation"
In https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#some-caveats-and-explanations
it's stated that

but the limitation is not mentioned in https://helm.sh/docs/helm/helm_install/ or https://helm.sh/docs/helm/helm_upgrade/

I think its useful to mention this limitation in the actual install and upgrade guide. For example, a user might keep attempting to verify his/her chart vi

[2021-06-08 14:52] johnlinvc commented on #1020
One issue we got is when using `mustRegexMatch` as an assertion, it'll generate extra true (from the return value) in the rendered result.
We need to add extra steps to get rid of the return value.
For example

[code]

A hack to fix this is discard the result with
[code]

Does anyone have a better way to discard the result without using `if` ?

[2021-06-08 15:36] krdln opened #1127 "Example from "Using Helm – Customizing the Chart Before Installing" doesn't work"
I've tried following the instructions on https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing

[code]

but it looks like the default db name is still in use:

[code]

I guess the path-with-dots syntax works only with `--set`, not with `--values` – the following works as intended:

[code]

---

* docs version v3.6.0
[code]

[2021-06-12 10:28] AahanSingh commented on #1123
Hi @mattfarina could someone be appointed to merge the pull request?

[2021-06-15 20:57] soumiksamanta opened #1131 "Importing overridden child Values via dependencies"
helm version
version.BuildInfo{Version:"v3.4.1", GitCommit:"c4e74854886b2efe3321e185578e6db9be0a6e29", GitTreeState:"clean", GoVersion:"go1.14.11"}

I have the following chart structure

parentChart
 |- values.yaml
 |- subChart1
     |- values.yaml
 |- subChart2
     |- values.yaml

In Chart.yaml
- name: subChart1
  import-values:
    - child: data
      parent: global.subChart1Data

I am able to

[2021-06-15 20:59] #1131 closed

[2021-06-16 11:30] bridgetkromhout commented on #1123
Hi, @AahanSingh - thanks for your PR! Merged.

[2021-06-16 11:30] #1123 closed

[2021-06-18 23:57] #1032 closed

[2021-06-21 07:08] ronin-sws opened #1141 "kubeflow"

[2021-06-21 08:36] hickeyma commented on #1141
@ronin-sws Can you provide more details for this issue?

[2021-06-22 01:52] ronin-sws commented on #1141
can you help me provide a solution about use helm install kubeflow ? thank you very much!

[2021-06-22 02:07] bacongobbler commented on #1141
Hi @ronin-sws. Please ask the kind folks over at kubeflow for assistance. :)

Judging by [this comment](https://github.com/kubeflow/kubeflow/issues/3173#issuecomment-494955842) it does not appear that the developers have provided a Helm chart for kubeflow. However, there is plenty of resources available to help create one, and the [Chart Template Guide - Getting Started](https://helm.sh/docs/chart

[2021-06-22 02:07] #1141 closed

[2021-07-07 21:26] #1122 closed

[2021-07-15 17:21] mattfarina opened #1157 "chart archives not supported without repo"
In the docs at https://helm.sh/docs/topics/charts/#managing-dependencies-manually-via-the-charts-directory it says you can use a chart directory or archive for those in the charts directory without a repo being specified. This is an error. You can only have a directory and not a chart archive. The docs need to be corrected.

[2021-07-29 12:50] Cjkjvfnby commented on #661
Flag group that consists of `-f/--values` and  --set-*  is present in the multiple commands: template, install, upgrade ...
I expect all of them has that information. For example [template page](https://helm.sh/docs/helm/helm_template/) doesn't tell anything about it.

A possible solution is to create a dedicated page and add a link to it to the command line help

[code]

[2021-08-08 01:35] bridgetkromhout commented on #1157
Resolved in https://github.com/helm/helm-www/pull/1168

[2021-08-08 01:35] #1157 closed

[2021-08-12 12:50] Flauschbaellchen opened #1171 "Misleading documentation of .helmignore"
Within the documentation for the `.helmignore` file [[1]], it is is stated that:

However, the .helmignore file is also interpreted if running **helm install** or **helm upgrade**.

**Expected behavior**
Files are only ignored if running **helm package** but interpreted if running other sub-commands, like **install**.

**Current behavior**
Files are always ignored independent of the sub-command.

[2021-08-12 17:25] bridgetkromhout opened #1172 "update install doc to clarify release tar.gz links"
@phillipgibson pointed out that the documentation at https://helm.sh/docs/intro/install/#from-the-binary-releases says "Download your desired version" with a link to a release page that will have both .tar.gz files and .tar.gz.asc files.

* Let's disambiguate this page in the docs so it's clear that people currently should manually download the tar.gz files from the `Installation and Upgrading` se

[2021-08-24 09:09] onikolskyy opened #1177 "Authentification to private docker repository fails if following docs for imagePullSecrets creation with helm helper templates"
Hello fellow community, I am excited about learning k8s and helm !

Recently I tried to install a helm chart in a rancher k8s environment.

I followed the section https://helm.sh/docs/howto/charts_tips_and_tricks/#creating-image-pull-secrets to pull from a private docker repository and got Access Denied.

The docs propose to base64-encode the whole dockerconfigjson and the auth field inside.

What

[2021-08-24 11:04] onikolskyy commented on #1177
The bug was within my rancher configuration, the docs are correct.

[2021-08-24 11:04] #1177 closed

[2021-09-02 08:26] SimonAlling opened #1181 "Location of built executable could be clarified in installation docs"
In [the _From Source_ section of the installation docs](https://github.com/helm/helm-www/blob/main/content/en/docs/intro/install.md#from-source-linux-macos), the location of the compiled executable is described like this:

While technically correct, one doesn't have to be more than moderately tired, deprived of coffee and/or just human to misread `bin/helm` as `/bin/helm`. It only took a few secon

[2021-09-06 09:13] zhuzeyu22 opened #1187 "bug"

[2021-09-06 09:37] hickeyma commented on #1187
@zhuzeyu22 Can you provide details like title and description?

[2021-09-07 10:26] #1126 closed

[2021-09-07 11:10] moraesjeremias opened #1189 "Single quotes code "highlighting""
### Scenario
During the #1185 PR code review we noticed that many of code highlighting were not working properly.
This problem takes place in Helm's docs due to 'single quotes' (') usage instead of `backticks` (`) for highlighting code within a text block.
Find more details [here](https://github.com/helm/helm-www/pull/1185#discussion_r702832783)

### Possible Solution
@hickeyma proposed a debate o

[2021-09-07 11:25] bacongobbler commented on #1187
Closing as insufficient details has been provided.

[2021-09-07 11:25] #1187 closed

[2021-09-08 11:24] fansi404 opened #1192 "quickstart 404"
[quickstart](https://helm.sh/zh/docs/topics/quickstart/) link in page [chart_repository](https://helm.sh/zh/docs/topics/chart_repository/) 404

![image](https://user-images.githubusercontent.com/89375976/132501657-cea9f4b4-8226-4f5d-a0a2-4d4fcfcce5ce.png)

[2021-09-08 20:39] flynnduism commented on #1189
Thanks for noting this @moraesjeremias.

## My two cents

IMO the _`backtick`_ quotes should be used where possible; to apply the in-built markdown highlighting - rather than 'single quotes' which result in plain text.

## Single Quotes are from `helm/helm`

All of the docs pages for the [Helm Commands](https://helm.sh/docs/helm/) (aka the Helm CLI Reference Docs) seem to be written in single quot

[2021-09-10 17:12] flynnduism commented on #1192
Closed via #1193

[2021-09-10 17:12] #1192 closed

[2021-09-13 19:03] bacongobbler opened #1196 ""registry" topic guide needs updating"
After the merge of helm/helm#9782, many of the commands in the [Registry Topic Guide](https://helm.sh/docs/topics/registries/) are out of date and need to be updated to reflect the current state.

cc @jdolitsky

[2021-09-17 14:25] jabbrwcky opened #1199 "Clarify valid version range specifications"
The help of helm states that you can specify a version range for a Helm chart:

[code]

But there is no documentation whatsoever what form of version constraints Helm accepts.

After some ddgo'ing I found that the used semver library https://github.com/Masterminds/semver has details in its README.

I think that at the very minimum the documentation should link to explain valid version ranges, bett

[2021-09-20 15:49] sheisnicola opened #1202 "Document TOML, YAML and JSON functions"
Please see:

* https://github.com/helm/helm/issues/7888 (incorrectly closed as a duplicate)
* https://github.com/helm/helm-www/issues/489#issuecomment-729863024

Helm defines a few functions of its own in pkg/engine/func.go for serializing and deserializing data

https://github.com/helm/helm/blob/b735abe8371359fcf0b37de8014bfafcceb1bcf8/pkg/engine/funcs.go#L50-L57

I suggest we add documentation a

[2021-09-21 06:02] vishiy opened #1203 "docs doesn't match with 3.7.0 release notes"
3.7.0 release notes says helm chart save is removed, but helm 3.7.0 registries doc says otherwise (https://helm.sh/docs/topics/registries/). Can someone please point to docs on how does one work with registries with 3.7.0 , as chart export and chart save has been removed as per release notes? Thanks.

[2021-09-21 11:56] hickeyma commented on #1203
Duplicate of #1196

[2021-09-21 11:56] hickeyma commented on #1203
Closing as its a duplicate

[2021-09-21 11:56] #1203 closed

[2021-09-22 14:21] bertdeblock opened #1204 "Should `main` branch be used in install docs?"
Hi, I was wondering if the `main` branch should be used [here](https://helm.sh/docs/intro/install/#from-script) instead of the `master` branch?

[2021-09-22 14:47] bacongobbler commented on #1204
Yes, good catch. Feel like contributing a PR?

[2021-09-22 14:57] bertdeblock commented on #1204
Sure! I'll see if I can get the docs up and running locally. Should this be changed manually for each language or is this something that can be updated in a config file? (Sorry I'm not really familiar with this repo and helm itself).

[2021-09-22 19:34] #1204 closed

[2021-09-26 02:01] zeaone opened #1207 "Translation suggestions"
the url is here：[https://helm.sh/zh/docs/chart_template_guide/yaml_techniques/](https://helm.sh/zh/docs/chart_template_guide/yaml_techniques/#%E6%8E%A7%E5%88%B6%E5%A4%9A%E8%A1%8C%E5%AD%97%E7%AC%A6%E4%B8%B2%E4%B8%AD%E7%9A%84%E7%A9%BA%E6%A0%BC)

the raw translation is **文本块中的缩进会被保留，也会保留行跳出的结果：**

I think this sentence should be translated as: **文本块中的缩进会被保留，也会保留换行符：**

[2021-09-26 19:21] bennythejudge opened #1208 "Error when following "The Common Helm Helper Chart" in https://helm.sh/docs/topics/library_charts"
Howdy helmers,

1) I was following the tutorial starting from https://helm.sh/docs/topics/library_charts/#
2) at the end instead of doing an `helm install` as suggested by the closing sentence (`It is good to go now, so deploy away!`), I did a `helm lint`.
3) this results in :

[code]

4) I then executed a

[code]

which confirmed the `lint` error:

[code]

5) I am new to `library charts` and to `

[2021-09-27 11:49] hickeyma commented on #1208
@bennythejudge Good catch. This didn't become apparent during creation of the doc as this linting rule was added later in https://github.com/helm/helm/pull/8142 and also lining isn't covered in the doc.

As you correctly mentioned, the [Helm common chart](https://github.com/helm/charts/tree/master/incubator/common) is no longer maintained. There are however examples of common charts out there, the

[2021-09-27 11:50] hickeyma commented on #1208
@bennythejudge Would you like to make a contribution for this?

[2021-09-28 06:29] aphilippejolivel opened #1209 ""Registries" documentation isn't up to date for 3.7.0"
Hello guys,

It seems the documentation at: https://helm.sh/docs/topics/registries/ still references the helm chart subcommand that has been deprecated in v3.7.0.

The examples would need to be updated to the new syntax. I'm willing to contribute if needed.

Thanks.

[2021-09-28 06:32] #1209 closed

[2021-09-28 06:45] aphilippejolivel opened #1210 "Helm push command missing documentation"
Hello guys,

It seems that the Helm Push command does not have a documentation page. Especially with the new 3.7.0 syntax it would be great to have one.

I couldn't find trace of it even in prior versions (as helm chart push) as a seperate page, it does appear in https://helm.sh/docs/topics/registries/ though

Is it by design ?

Thanks,
Axel

[2021-09-30 23:14] bennythejudge commented on #1208
@hickeyma
I have a temptative fix in my fork (https://github.com/bennythejudge/helm-www/blob/fix-common-library-example/content/en/docs/topics/library_charts.md).
I need more time to read the contributing guidelines.

[2021-10-01 19:44] bennythejudge commented on #1208
PR submitted, let's see how it goes. Thanks. @hickeyma

[2021-10-03 14:24] maurtvedt opened #1214 "Install via winget?"
windows install could also reference winget in addition to cocolatey perhaps.

Command to install:
winget install helm

[2021-10-08 10:57] seanmcconkey opened #1218 "Please update kubeVersion Field documentation."
Could you please update the documentation to include references on how to add support for Kubernetes Releases from Cloud vendors eg AWS EKS.

My kubeVersion in the Chart.yaml was;

[code]

When deploying I got the following error.
[code]

The documentation does not reflect on how to support these kubeVersions using the following method.

[code]

As discussed in https://github.com/helm/helm/issues/

[2021-10-08 14:33] lindhe opened #1219 "Missing docs for standard label app.kubernetes.io/created-by"
Currently, all [recommended labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/) except `app.kubernetes.io/created-by` are mentioned [in the docs](https://helm.sh/docs/chart_best_practices/labels/#standard-labels). I guess we should add it as optional (`OPT`). What would be a reasonable description and/or example value? I have a hard time coming up with a reaso

[2021-10-16 22:08] bennythejudge commented on #1208
Thanks, I have addressed the comments.

[2021-10-18 07:28] ckotzbauer opened #1222 "CLI-Changes to OCI commands from 3.7.0 are missing"
As stated in the release-notes (https://github.com/helm/helm/releases/tag/v3.7.0) there were many changes to the "chart" subcommand. But the doc-site (https://helm.sh/docs/topics/registries/#enabling-oci-support) still explains the commands as on Helm 3.6.x and earlier.
Without this beeing addressed, it is really hard to use the helm-version without reading the code...

[2021-10-18 07:43] #1222 closed, assigned to nobody

[2021-10-20 14:24] simplylizz opened #1223 "`helm chart save` has been deprecated"
Mentioned here:
https://helm.sh/docs/topics/registries/#the-chart-subcommand

https://github.com/helm/helm/releases/tag/v3.7.0

[2021-10-27 06:27] zeaone opened #1227 "The translation correction of Chinese"
the url is here：https://helm.sh/docs/glossary/#rollback

the raw translation is 每一次发布会更新chart或者配置。当生成发布历史后，一次发布也可以被 rolled back 之前的发布版本号。

I think this sentence should be translated as: 一个Release可以升级到更新的 Chart 或配置。 但是由于Release历史被存储，Release也可以回滚到以前的版本号。

[2021-11-02 17:34] dobharweim opened #1231 "Helm dependency documentation omit information on pre-release dependencies"
The docs for [Helm Dependency](https://helm.sh/docs/helm/helm_dependency/#helm) do not link to the docs for dependency [best practices](https://helm.sh/docs/chart_best_practices/dependencies/), which covers the use of range.

Additionally, the  best practices documentation does not cover the inclusion of pre-release charts as dependencies, which is extremely useful for CI/CD pipelines.

[2021-11-02 19:09] #1196 closed

[2021-11-09 08:32] vinnyzhaowenyu opened #1235 "[zh]It is not appropriate to translate "Helm Chart" into "Helm 图表""
**Chart** 直接翻译成中文的意思是：`图表，曲线图；海图，星位图；排行榜`等意思。但这一些翻译都不能表示 **Chart** 的核心功能，反而让使用者更加的困惑。

类似的 **Helm**直接翻译成中文表示：`舵；舵柄；领导地位；驾驶盘`一样，直接翻译并不合适。反而直接使用英文的 `Helm` 更便于沟通交流。

建议考虑将 `Helm` ,`Helm Chart` 作为专有名称，不进行翻译，保留英文词语。

----

**Chart** , The direct translation into Chinese means `图表，曲线图；海图，星位图`.  However, none of these translations can express the core function of Chart, which makes users more confused.

[2021-11-09 09:18] vinnyzhaowenyu commented on #1235
fix  https://github.com/helm/helm-www/pull/1236

[2021-12-02 20:42] bridgetkromhout commented on #1231
Thanks for https://github.com/helm/helm-www/pull/1233 which covers pre-release charts.

We generated those specific doc files via this process: https://github.com/helm/helm-www#updating-the-helm-cli-reference-docs

So the place to edit that file is here:
https://github.com/helm/helm/blob/main/cmd/helm/dependency.go#L28-L74

Unfortunately we cannot edit this doc directly in the helm-www repo, but w

[2021-12-02 21:39] bridgetkromhout commented on #1235
Thank you, @vinnyzhaowenyu!

I would like to hear from @Zhanxueyou who has done a lot of the Chinese translation, in case they have an opinion. Thanks.

[2021-12-03 14:06] dhs-rec opened #1244 "Debian family installation instruction are outdated"
There are a few flaws in the installation instructions for Debian family systems:

- Usage of `apt-key add` is deprecated. Projects should provide a GnuPG keyring file that the user can simply copy into `/etc/apt/trusted.gpg.d`
- Starting with Debian 10/Ubuntu 18.04, https transport has been moved into the main `apt` package and `apt-transport-https` has become a s.c. transitional (dummy) package

[2021-12-04 03:30] Zhanxueyou commented on #1235
@bridgetkromhout We will consider to translate Proprietary Vocabulary more appropriately later. Thanks.